{% load static %}

<!-- Comment block -->
<link rel="stylesheet" href=" {% static 'Driver/css/baseDriverPage.css' %} ">
<script src="{% static 'Driver/javascript/baseDriverPage.js' %}"></script>
<div class="header__page">
    <header>
        <div class="logo__header">
            <a href="{% url 'Driver_app:Driver_homepage' %}" class="link__to__navigation">
                <img src="{% static 'Driver/images/Logo.png' %}" alt="logo" id="header__logo__image">
            </a>
        </div>
        <div class="header__menu">
            <div class="header__menu__language">
                <p id="header__menu__language__title">Ngôn ngữ</p>
                <div class="choose__language__header">
                    <p class="each__language__title">Việt Nam</p>
                    <p class="each__language__title">English</p>
                </div>
            </div>
            <ul class="menu__header">
                <li class="menu__header__item">
                    <a href="#" class="menu__header__title">Menu</a>
                    <div class="menu__header__child">
                        <div class="menu__header__child__item">
                            <h4>Order</h4>
                            <ul class="menu__child__list">
                                <li><a href="#" class="link__to__navigation">Need Delivery</a></li>
                                <li><a href="#" class="link__to__navigation">In Delivery</a></li>
                                <li><a href="#" class="link__to__navigation">Success</a></li>
                                <li><a href="#" class="link__to__navigation">Return</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Static & Search Order</h4>
                            <ul class="menu__child__list">
                                <li><a href="#" class="link__to__navigation">Static ( Revenue )</a></li>
                                <li><a href="#" class="link__to__navigation">Search Order</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="link__to__navigation log__out__menu">Log out</a>
                </li>
            </ul>
        </div>

    </header>
</div>
<!-- End of comment block -->
{% block baseDriverHomepage %}
    <div class="content__homepage__driver">
        {% if driverName is defined %}
            <div class="content__homepage__driver__left">
                <h1>Hello driver {{driverName}}</h1><br>
                <p>You have {{allOrderNeedDeliveryHomepage}} order need-delivery. Delivery now
                    <a id="homepage__driver__link__order__need__transmit" href="{{url_for('.orderNeedTransmit', CurrentPage = 1)}}">Order Need Delivery</a>
                </p>
            </div>
        {% endif %}
        <img id="image__homepage__driver" src="{{url_for('.static', filename = 'images/ImageHompageDriver.png')}}">
    </div>
{% endblock %}
{% block functionDriverPage %}
{% endblock %}
<footer>
    <div class="footer__inner">
        <div class="footer__item">
            <h3>Order</h3>
            <a href=" {{ url_for('driverPageBp.orderNeedTransmit', CurrentPage = 1) }}" class="footer_link">Need Delivery</a>
            <a href=" {{ url_for('driverPageBp.orderDelivery', CurrentPage = 1) }}" class="footer_link">In Delivery</a>
            <a href=" {{ url_for('driverPageBp.orderSuccess', CurrentPage = 1) }}" class="footer_link">Success</a>
            <a href=" {{ url_for('driverPageBp.orderReturnDriver', CurrentPage = 1) }}" class="footer_link">Return</a>
        </div>
        <div class="footer__item">
            <h3>Static</h3>
            <a href="{{ url_for('staticOrderDriverBp.staticRevenueDriverTime', CurrentPage = 1) }}" class="footer_link">Static ( Revenue )</a>
        </div>
        <div class="footer__item">
            <h3>Search Order</h3>
            <a href=" {{ url_for('driverSearchOrderBp.driverSearchAllOrder', CurrentPage = 1) }} " class="footer_link">Search Order</a>
        </div>
        <div class="footer__item">
            <img src=" {{url_for('driverPageBp.static', filename = 'images/Logo.png')}}" alt="logo" id="footer__logo__image">
            <p class="footer__inform__company">Address : Hồ Chí Minh City</p>
            <p class="footer__inform__company">Tel : 123456789</p>
        </div>
    </div>
</footer>