{% extends 'Driver/baseDriverPage.html' %}
{% load static %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{% static 'Driver/css/driverPersonalProfile.css' %}">
    <script src="{% static 'Driver/javascript/driverPersonalProfile.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    {% if notificationMsg %}
        <p id="notification__msg">{{notificationMsg}}</p>
    {% endif %}
    <div class="personal__profile__driver">
        <div class="personal__profile__inner">
            <div class="option__personal__profile">
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('basic')">Edit Basic Information</button>
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('advance')">Edit Advance Information</button>
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('changePass')">Change password</button>
                {% comment %}<button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('changeAvatar')">Change Avatar</button>{% endcomment %}
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('driverLicense')">Change Driver License</button>
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('motorRegCert')">Change Motorbike Registration Certificate</button>
            </div>
            <div class="detail__option__personal__profile">
                <div class="basic__information__personal__profile detail__option__inner">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input__name__tel__basic">
                            <div>
                                <label>Name : </label>
                                <input name="inputNameDriver" type="text" max="30" min="5" placeholder="{{driverInform[0][4]}}" required>
                            </div>
                            <div>
                                <label>Telephone Number : </label>
                                <input name='inputTelDriver' type="tel" placeholder="{{driverInform[0][5]}}" required>
                            </div>
                            <div class="input__gmail__basic">
                                <label>Gmail :</label>
                                <input name="inputGmailDriver" type="text" placeholder="{{driverInform[0][6]}}" required>
                            </div>
                        </div><br>
                        <div class="input__gender__citizen__identify__card">
                            <div>
                                <label>Gender</label>
                                <select name="inputGenderDriver">
                                    <option value="0">Men</option>
                                    <option value="1">Woman</option>
                                    <option value="2">Other</option>
                                </select>
                            </div>
                            <div>
                                <label>Citizen Identify Number</label>
                                <input type="text" min="12" max="12" name="inputCitizenIdentifyNumber" required>
                            </div>
                        </div>
                        <br>
                        <p>Note: Driver can update and fill some information</p>
                        <input type="submit" name="submitBasicInform" required>
                    </form>
                </div>

                <div class="advance__information__personal__profile detail__option__inner">
                    <form method="post">
                        <div class="input__address__personal__profile">
                            <div>
                                <label>Province : </label>
                                <select name="chooseProvinceDriverProfile" class="choose__province__advance__option" onchange="loadDistrict(event)">
                                    <option value="NotProvince">Choose Province</option>
                                </select>
                            </div>
                            <div>
                                <label>District : </label>
                                <select name="chooseDistrictDriverProfile" class="choose__district__advance__option" onchange="loadWard(event)">
                                    <option value="notDistrict">Choose District</option>
                                </select>
                            </div>
                            <div>
                                <label>Ward : </label>
                                <select name="chooseWardDriverProfile" class="choose__ward__advance__option">
                                    <option value="NotWard">Choose Ward</option>
                                </select>
                            </div>
                        </div>
                        <input type='submit' name="submitAdvanceInform">
                    </form>
                </div>

                <div class="change__password__personal__profile detail__option__inner">
                    <form method="post">
                        <div class="change__password__inner">
                            <div class="input__password__first">
                                <label>Password : </label>
                                <input type="password" min="6" max="20" name="inputFirstPass" class="input__first__pass" required>
                            </div>
                            <div class="input__password__second">
                                <label>Confirm Password : </label>
                                <input class='input__second__pass' min='6' max='20' type="password" name="inputSecondPass" oninput="checkFirstSecondPassword()" required>
                            </div>
                        </div>
                        <input id="submit__change__pass" type="submit" name="submitChangePass" required>
                    </form>
                    <p id="check__first__second__pass"></p>
                </div>
                
                {#
                <div class="change__avatar__personal__profile detail__option__inner">
                    <form method="post">
                        <input type="file" required>
                        <input type="submit" name="submitChangeAvatar" required>
                    </form>
                </div>
                #}

                <div class="change__driver__license detail__option__inner">
                    <form method="post">
                        <div class="input__driver__license__inner">
                            <div>
                                <label>Full Name : </label>
                                <input type="text" max="50" name="inputFullNameLicenseDriver" required>
                            </div>
                            <div>
                                <label>Beginning Date : </label>
                                <input type="date" name="inputBeginningDateLicenseDriver" required>
                            </div>
                            <div>
                                <label>Class : </label>
                                <select name="inputClassLicenseDriver">
                                    <option value="A1">A1</option>
                                    <option value="A2">A2</option>
                                    <option value="A3">A3</option>
                                    <option value="B1">B1</option>
                                    <option value="B2">B2</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" name="submitDriverLicense" required>
                    </form>
                </div>

                <div class="change__motor__reg__cert detail__option__inner">
                    <form method="post">

                        <div class="input__motor__reg__cert__inner">
                            <div>
                                <div>
                                    <label>Number : </label>
                                    <input type="number" name="inputNumberRegCert" required>
                                </div>
                                <div>
                                    <label>Palate : </label>
                                    <input type="text" name="inputPalateRegCert" required>
                                </div>
                                <div>
                                    <label>Branch : </label>
                                    <select name="inputBranchRegCert">
                                        <option value="honda">HONDA</option>
                                        <option value="yamaha">YAMAHA</option>
                                        <option value="sh">SH</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <label>Color : </label>
                                    <select name="inputColorRegCert">
                                        <option value="red">Red</option>
                                        <option value="blue">Blue</option>
                                        <option value="green">Green</option>
                                        <option value='white'>White</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Capacity Motorbike : </label>
                                    <input type="number" name="inputCapacityMotorRegCert" required>
                                </div>
                                <div>
                                    <label>First Registration : </label>
                                    <input type='date' name="inputFirstRegCert" required> 
                                </div>
                            </div>
 
                        </div>
                        <input type="submit" name="submitMotorRegCert" required>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}