{% extends 'Driver/baseDriverPage.html' %}
{% load static %}
{% load custom_filters_driver %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{% static 'Driver/css/orderNeedTransmit.css' %}">
    <script src="{% static 'Driver/javascript/orderNeedTransmit.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    {% if notificationMsg %}
        <p id="notification__success__update">{{notificationMsg}}</p>
    {% endif %}
    <div class="title__option__need__delivery">
        <p class="order__detail__each__title">{{len_lst_order}} order need delivery</p>
        {% comment %}{% if allOrderNeedDelivery|length > 0%}
            <a id='link__to__get__shortest__path' href=" {{ url_for('autoUpdateRouteBp.autoUpdateRoute') }} ">Shortest Path All Order</a>
        {% endif %}{% comment %}
    </div>
    <div class="order__need__transmit">
        {% if allOrderNeedDelivery|length == 0 %}
            <p id="not__found__any__order">Not found any order</p>
        {% else %}
            <div class="table__show__order__need__transmit">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                        <th>Accept Delivery</th>
                        <th>Save invoice</th>
                    </tr>
                        {% for index in allOrderNeedDelivery%}
                            <tr>
                                <td>{{foorloop.counter}}</td>
                                <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                                <a href="#">{{index.code_order_delivery}}</a></div></td>
                                <td>
                                    {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                        <p>Name : <span>{{sender.name}}</span></p>
                                        <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                        <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                        <p>Name : <span>{{receiver.name}}</span></p>
                                        <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                        <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for product in lstType|get_list_item:forloop.counter0 %}
                                        <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                                    {% endfor %}
                                </td>
                                <td>{{index.status_order}}</td>
                                <td class="total__money__order">{{index.total_cost}}</td>
                                <td>{{index.note}}</td>
                                <td>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% comment %}
                                        <div>
                                            <label>Input image Get Product:</label>
                                            <input type="file" accept="image/*" name="ImageGetProduct" required>
                                        </div><br>
                                        <div>
                                            <label>Image In Transport:</label>
                                            <input type="file" accept="image/*" name="ImageInTransport"required>
                                        </div><br>{% endcomment %}
                                        <input type="text" value="{{index.code_order_delivery}}" name="valueTransmit" id="value__need__transmit__title">
                                        <input type="submit" value="Delivery" name="updateTransmit">
                                    </form>
                                </td>
                                <td>
                                    {% comment %}
                                    <a href=" {{ url_for('GeneratePDF.generatePDF', codeOrder = index[1], totalCost = index[8], sender =  lstSender[loop.index-1], receiver = lstReceiver[loop.index-1], driverName = nameDriver, allProduct = [lstProduct[loop.index - 1]], dateCreate = index[5], departureTimeOrder = index[6], estimateArriveOrder = index[7] ) }}">Get Invoice PDF file</a>
                                    {% endcomment %}
                                    <a href="#">Get Invoice PDF file</a>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="pagination__page">
                {% if paginationPage > 5%}
                    <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                    <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                    {% for page in range_pagination_page %}
                        {% if CurrentPage == page %}
                            <a href="{% url 'Driver_app:Driver_order_need_delivery' page notificationMsg %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                            </a>
                        {% else %}
                            <a href="{% url 'Driver_app:Driver_order_need_delivery' page notificationMsg %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                    <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                {% else %}
                    {% for page in range_pagination_page %}
                        {% if CurrentPage == page %}
                            <a href="{% url 'Driver_app:Driver_order_need_delivery' page notificationMsg %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                            </a>
                        {% else%}
                            <a href="{% url 'Driver_app:Driver_order_need_delivery' page notificationMsg %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}