{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href=" {{ url_for('driverPageBp.static', filename = 'css/orderNeedTransmit.css')}}">
    <script src="{{url_for('.static', filename = 'javascript/orderNeedTransmit.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    {% if notificationMsg is defined %}
        <p id="notification__success__update">{{notificationMsg}}</p>
    {% endif %}
    <div class="title__option__need__delivery">
        <p class="order__detail__each__title">{{len_lst_order}} order need delivery</p>
        {#{% if allOrderNeedDelivery|length > 0%}
            <a id='link__to__get__shortest__path' href=" {{ url_for('autoUpdateRouteBp.autoUpdateRoute') }} ">Shortest Path All Order</a>
        {% endif %}#}
    </div>
    <div class="order__need__transmit">
        {% if allOrderNeedDelivery|length == 0 %}
            <p id="not__found__any__order">Not found any order</p>
        {% else %}
            <div class="table__show__order__need__transmit">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Code</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                        <th>Accept Delivery</th>
                        <th>Save invoice</th>
                    </tr>
                        {% for index in allOrderNeedDelivery%}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></td>
                                <td>
                                    <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p><br>
                                    <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p><br>
                                    <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                                </td>
                                <td>
                                    <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p><br>
                                    <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p><br>
                                    <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                                </td>
                                <td>
                                    {% for product in lstProduct[loop.index - 1] %}
                                        <p>Product {{loop.index}}: {{product[2]}}</p>
                                    {% endfor %}
                                </td>
                                <td>{{index[10]}}</td>
                                <td class="total__money__order">{{index[8]}}</td>
                                <td>{{index[9]}}</td>
                                <td>
                                    <form method="post" enctype="multipart/form-data">
                                        <div>
                                            <label>Input image Get Product:</label>
                                            <input type="file" accept="image/*" name="ImageGetProduct" required>
                                        </div><br>
                                        <div>
                                            <label>Image In Transport:</label>
                                            <input type="file" accept="image/*" name="ImageInTransport"required>
                                        </div><br>
                                        <input type="text" value="{{index[1]}}" name="valueTransmit" id="value__need__transmit__title">
                                        <input type="submit" value="Delivery" name="updateTransmit">
                                    </form>
                                </td>
                                <td>
                                    <a href=" {{ url_for('GeneratePDF.generatePDF', codeOrder = index[1], totalCost = index[8], sender =  lstSender[loop.index-1], receiver = lstReceiver[loop.index-1], driverName = nameDriver, allProduct = [lstProduct[loop.index - 1]], dateCreate = index[5], departureTimeOrder = index[6], estimateArriveOrder = index[7] ) }}">Get Invoice PDF file</a>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="pagination__page">
                {% if paginationPage > 5%}
                    <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                    <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                    {% for page in range(0, paginationPage) %}
                        {% if CurrentPage == page + 1 %}
                            <a href="{{ url_for('.orderNeedTransmit', CurrentPage = page + 1) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% else %}
                            <a href="{{ url_for('.orderNeedTransmit', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                    <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                {% else %}
                    {% for page in range(0, paginationPage) %}
                        {% if CurrentPage == page + 1 %}
                            <a href="{{ url_for('.orderNeedTransmit', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% else%}
                            <a href="{{ url_for('.orderNeedTransmit', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}