{% extends 'Driver/baseDriverPage.html' %}
{% load static %}
{% load custom_filters_driver %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{% static 'Driver/css/orderDelivery.css' %}">
    <script src="{% static 'Driver/javascript/orderDelivery.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    
    {% if notificationMsg %}
        <p id="notification__success__update">{{notificationMsg}}</p>
    {% endif %}
    <div class="order__in__delivery">
        <p class="order__detail__each__title">{{len_lst_order}} order in delivery</p>
        {% if allOrderDelivery|length == 0 %}
            <p id="not__found__any__order__title">Not found any order</p>
        {% else %}
            <div class="table__show__order__delivery">
                <table>
                <tr>
                    <th>No.</th>
                    <th class="code__order__title">Code</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Name Product</th>
                    <th>Status</th>
                    <th>Total cost</th>
                    <th>Note</th>
                    <th>Finish</th>
                    <th>Date Create</th>
                    <th>Image Get Product</th>
                    <th>Image In Delivery</th>
                </tr>
                
                    {% for index in allOrderDelivery %}
                        <tr>
                            <td>{{foorloop.counter}}</td>
                            <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                            <a href="#">{{index.code_order_delivery}}</a></div></td>
                            <td>
                                {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{sender.name}}</span></p>
                                    <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                    <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{receiver.name}}</span></p>
                                    <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                    <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for product in lstType|get_list_item:forloop.counter0 %}
                                    <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                                {% endfor %}
                            </td>
                            <td>{{index.status_order}}</td>
                            <td class="total__money__order">{{index.total_cost}}</td>
                            <td>{{index.note}}</td>
                            <td>
                                In Dev
                                <!-- TODO -->
                                {% comment %}
                                <form method="post" enctype="multipart/form-data">
                                    <div>
                                        <label>Capture image:</label>
                                    </div><br>
                                    <input type="file" value="Image Delivery Success" accept="image/*" name="ImageDeliverySuccess">
                                    <div>
                                        <input type="text" name="valueDeliverySuccess" value="{{index[1]}}" id="btn__value__success" required>
                                        <input type="submit" name="updateDeliverySuccess" value="Success" id="btn__submit__success" required>
                                    </div>
                                </form>{% endcomment %}
                            </td>
                            <td>{{index[5]}}</td>
                            <td>
                                <a href="{{url_for('showImageFirebaseBp.showImageGetProduct', codeOrder = index[1] )}}">Watch Image</a>
                            </td>
                            <td>
                                <a href="{{url_for('showImageFirebaseBp.showImageInDelivery', codeOrder = index[1] )}}">Watch Image</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination__page">
                {% if paginationPage > 5%}
                    <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                    <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                    {% for page in range(0, paginationPage) %}
                        {% if CurrentPage == page + 1 %}
                            <a href="{{ url_for('.orderDelivery', CurrentPage = page + 1) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% else %}
                            <a href="{{ url_for('.orderDelivery', CurrentPage = page + 1) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                    <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                {% else %}
                    {% for page in range(0, paginationPage) %}
                        {% if CurrentPage == page + 1 %}
                            <a href="{{ url_for('.orderDelivery', CurrentPage = page + 1) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% else%}
                            <a href="{{ url_for('.orderDelivery', CurrentPage = page + 1) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <a href="#end__of__page" class="scroll__end__page__btn" id="scroll___btn">
            <span id="scroll__to__end__page__title">Scroll to end page</span>
            <span class="arrow__btn__scroll__end"></span>
        </a>
        <div id="end__of__page"></div>
        <script>
            let pageHeight = document.documentElement.scrollHeight
            let windowHeight = window.innerHeight

            if ( pageHeight >= windowHeight * 2){
                document.getElementsByClassName('scroll__end__page__btn')[0].style.display = 'block'
            }
            else {
                document.getElementsByClassName('scroll__end__page__btn')[0].style.display = 'none'
            }
        </script>
    </div>
{% endblock %}