{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href=" {{ url_for('driverPageBp.static', filename = 'css/orderSuccess.css')}}">
    <script src="{{url_for('.static', filename = 'javascript/orderSuccess.js')}}"></script>
    
    <div class="title__option__page">
        <div>
            <p class="order__detail__each__title">{{len_lst_order_success}} Order delivery successful</p>
        </div>
        <div>
            <select id="option__filter" onchange="chooseFilter()">
                <option value="notFilter">Choose Filter</option>
                <option value="date">Filter by Day</option>
                <option value="month">Filter by month</option>
                <option value="year">Filter by year</option>
            </select>
            <form method="post" id="form__input__filter">
                <input type="date" name="inputDateFilter" id="input__date__filter" class="input__filter">
                <input type="month" name="inputMonthFilter" id="input__month__filter" class="input__filter">
                <input type="number" max="2099" min="1900" placeholder="2023" name="inputYearFilter" id="input__year__filter" class="input__filter">
                <input name="inputFilterDate" type="submit" value="Find" id="input__submit__filter__date" class="input__filter">
                <input name="inputFilterMonth" type="submit" value="Find" id="input__submit__filter__month" class="input__filter">
                <input name="inputFilterYear" type="submit" value="Find" id="input__submit__filter__year" class="input__filter">
            </form>
        </div>
    </div> 
    <div class="order__finish">
        
        <table>
            <tr>
                <th>No.</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Name Product</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Note</th>
                <th>Date Create</th>
                <th>Image Order Success</th>
            </tr>
            {% for index in allOrderSuccess %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></td>
                    <td>
                        <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                        <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                        <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                        <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                        <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        {% for product in lstType[loop.index - 1] %}
                            <p>Product {{loop.index}} : {{product[2]}}</p>
                        {% endfor %}
                    </td>
                    <td>{{index[10]}}</td>
                    <td>{{index[8]}}</td>
                    <td>{{index[9]}}</td>
                    <td>{{index[5]}}</td>
                    <td>
                        <a href="{{url_for('showImageFirebaseBp.showImageOrderSuccess', codeOrder = index[1])}}">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderSuccess', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.orderSuccess', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderSuccess', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('.orderSuccess', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}