* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }

table {
    margin: 0 auto;
    width: 75%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link__option {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 15px;
}