* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

/* Common block */

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

body {
    background-color: var(--fourth-color);
}

.header__page {
    width: 100%;
    height: 100px;
    background-color: var(--third-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#header__logo__image {
    height: 80px;
}

#input__search__header {
    padding: 5px;
    border-radius: 5px;
    width: 150%;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__language {
    position: relative;
    margin-right: 72px;
}

.header__menu__language:hover .choose__language__header{
    display: block;
}

#header__menu__language__title {
    cursor:pointer;
    color:white;
}

.choose__language__header {
    background-color: white;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    position: absolute;
    width: max-content;
}

.each__language__title {
    padding:5px;
    text-align: center;
}

.each__language__title:hover {
    background-color: gray;
    color:white;
    cursor:pointer;
}

.header__menu__account {
    position: relative;
}

#notification__image__header {
    position: absolute;
    width: 30px;
    bottom:-10%;
    left:-10%;
}

#header__user__image {
    width: 50px;
}

.triangle__header__account {
    position: absolute;
    right: -50%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid black;
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
}

.navigation__page {
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
}

.navigation__page__inner {
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#current__dateTime {
    color:black;
}

.navigation__link {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.link__to__navigation {
    color : black;
    text-decoration: none;
}

.order__header__navigation {
    position: relative;
}

.order__group__navigation {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: max-content;
}

.order__btn__title {
    cursor: pointer;
}

.order__header__navigation:hover .order__group__navigation {
    display: block;
}

.order__group__navigation a {
    display: block;
    padding: 5px;
    font-weight: lighter;
}

.order__group__navigation a:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.content__homepage__driver {
    width: 75%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__homepage__driver__left {
    display: flex;
    flex-direction: column;
}

#homepage__driver__link__order__need__transmit {
    text-decoration: none;
    padding: 5px;
    border: none;
    background-color: var(--second-color);
    color:white;
    border-radius: 5px;
}

.header__avatar {
    position: relative;
    cursor: pointer;
}

.header__avatar div {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: -30px;
    width: max-content;
}

.header__avatar__expand {
    display: none;
    padding: 5px;
}

.header__avatar:hover .header__avatar__expand {
    display: block;
    padding: 5px;
}

.header__avatar__expand__link {
    padding: 5px;
}

.header__avatar__expand__link:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

#link__to__edit__personal__page {
    color: black;
    text-decoration: none;
}


.static__header__navigation {
    position: relative;
}

.static__header__btn__group__navigation {
    position: absolute;
    top: 100%;
    width: max-content;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    border: 1px solid black;
}

.static__header__navigation:hover .static__header__btn__group__navigation {
    display: flex;
    flex-direction: column;
}

.static__header__btn__group__navigation a {
    padding: 5px;
}

.static__header__btn__group__navigation a:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

#image__homepage__driver {
    width: 50%;
}

.menu__header {
    display: flex;
    justify-content: space-between;
}

.menu__header__item:hover .menu__header__child {
    opacity: 1;
    visibility: visible;
}

.menu__header__title {
    text-decoration: none;
    color:white;
}

.menu__header__child {
    position: absolute;
    left:0;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.menu__header__child__item {
    width: 50%;
}

.menu__child__list li{
    border-top: 1px solid black;
    padding: 15px;
}

.log__out__menu {
    color:white;
    padding-left: 15px;
}

li {
    list-style: none;
}

h4 {
    color: black;
    padding : 15px;
    background-color: var(--second-color);
}

footer {
    background-color: var(--third-color);
    padding-top : 30px;
    padding-bottom: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
}

.footer_link {
    color:white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    color:white;
    margin-bottom: 35px;
}
.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__inform__company {
    color:white;
}

#footer__logo__image {
    height: 80px;
    margin-bottom: 30px;
}

@media only screen and (max-width:1920px){
    .navigation__link {
        width: 40%;
    }
}