.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: blue;
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: red;
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}



.link__to__search__order__page {
    width: 75%;
    margin: 15px calc(25%/2);
}

#back__to__search__order_page {
    text-decoration: none;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.3);
}

#not__fount__order__notification {
    width: 75%;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }
tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.show__order__filter__day {
    margin: 16px auto;
    width: 75%;
}

.option__success__filter {
    padding: 15px;
    border: 1px dashed black;
    border-radius: 15px;
    margin: 15px auto;
    width: 75%;
}