* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.order__in__delivery {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

#btn__value__success {
    display: none;
}

#btn__submit__success {
    border: none;
    outline:none;
    background-color: var(--third-color);
    padding: 5px;
    color:white;
    border-radius: 5px;
}

#btn__submit__success:hover {
    opacity: 0.5;
    cursor: pointer;
}

.arrow__btn__scroll__end {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll__end__page__btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black
}

#scroll__to__end__page__title {
    display: none;
}

.scroll__end__page__btn:hover #scroll__to__end__page__title{
    display: block;
    position: absolute;
    top: -50px;
    left:0;
    transform: translateX(-50%);
    background-color: #333;
    color:#fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
}

#notification__success__update, #not__found__any__order__title {
    width: 75%;
    margin: 15px auto;
    padding: 15px;
    border: 1px dashed black;
    background-color: var(--third-color);
    border-radius: 15px;
    color:white;
}

.order__detail__each__title {
    margin: 15px auto;
    padding: 15px;
    border: 1px dashed black;
    background-color: var(--fourth-color);
    border-radius: 15px;
    color:black;
}

.table__show__order__delivery {
    width: 100%;
    overflow-x: scroll;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}
