* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.order__need__transmit {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid black;
}

.title__option__need__delivery {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 15px;
    padding: 15px;
    border: 1px dashed black;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.5);
}

#link__to__get__shortest__path {
    text-decoration: none;
    background-color: var(--second-color);
    border: none;
    outline: none;
    color:white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#value__need__transmit__title {
    display: none;
}

#notification__success__update {
    width: 75%;
    margin: 15px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px solid black;
    background-color: blue;
    border-radius: 15px;
    color: white;
}

input[type='file']{
    width: fit-content;
    display: inline-block;
}

input[type='submit']{
    border: none;
    outline: none;
    background-color: var(--third-color);
    color:white;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.table__show__order__need__transmit {
    overflow-x: scroll;
}