* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.order__finish {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
}

.title__option__page {
    display: flex;
    width: 75%;
    margin: 15px auto;
    align-items: start;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    border: 1px dashed black;
}

#input__date__filter, #input__month__filter, #input__year__filter, #input__submit__filter {
    display: none;
}

#form__input__filter {
    display: none;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.5);
}

#option__filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: fit-content;
}

#option__filter:hover {
    border-color: #999;
}

#option__filter:focus{
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

#option__filter option {
    padding : 10px;
}

input[type='submit']{
    padding: 5px;
    border: none;
    outline:none;
    background-color: var(--second-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

input[type='number'] {
    padding:5px;
}

input[type='month']{
    padding: 5px;
}

input[type='date']{
    padding: 5px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}