{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{{url_for('DSProfileBp.static', filename = 'css/DSEditOrder.css')}}">
    {% if msg_notification is defined %}
        {% if msg_notification != 'None' %}
            {{msg_notification}}
        {% endif %}
    {% endif %}
    <div class="ds__edit__order__form">
        <form method ='post' class="input__form__tel__sender__receiver">
            <div class="input__tel__number__sender__form">
                <label>Input Telephone Number Sender</label>
                <input name="inputTelSender" type="tel" required>
            </div>
            <div>
                <label>Input Telephone Number Receiver</label>
                <input name="inputTelRecv" type="tel" required>
            </div>
            <input type="submit" name = 'submitTelNum' id="submit__tel__num__form" required>
        </form>
        <form method="post">
            <label>Input Order Number : </label>
            <input type="text" name="inputOrderNumber" required>
            <input type="submit" name="submitOrderNumber" required>
        </form>
    </div>
    {% if all_order is defined %}
        <a href="{{url_for('.dsShowAllOrderByTel', all_order = all_order, CurrentPage = 1)}}">Watch all order match</a>
    {% endif %}
    {% if edit_order == True %}
    {% if order_number_need_edit is defined %}
        <p>Edit order {{order_number_need_edit}}</p>
    {% endif %}
        <div class="edit__order__div">
            <form method="post">
                <div>
                    <div>
                        <label>Input Telephone Number Sender</label>
                        <input type="text" name="editTelSender" required>
                    </div>
                    <div>
                        <label>Input Telephone Number Receiver</label>
                        <input type="text" name="editTelReceiver" required>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Input Name Sender</label>
                        <input type='text' name="editNameSender" required>
                    </div>
                    <div>
                        <label>Input Name Receiver</label>
                        <input type='text' name="editNameReceiver" required>
                    </div>
                </div>
                <input type="text" value="{{order_number_need_edit}}" name="valueCodeOrderNumber" hidden>
                <input type="submit" name="submitEditOrder" required>
            </form>
        </div>
    {% endif %}
{% endblock %}