{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{{url_for('DSProfileBp.static', filename = 'css/DSProfileFee.css')}}">
    <script src="{{url_for('DSProfileBp.static', filename = 'javascript/DSProfileFee.js')}}"></script>
    {% if notificationMsg is defined %}
        <p id="notification__msg">{{notificationMsg}}</p>
    {% endif %}
    <div class="ds__profile__fee">
        <div class="ds__profile__fee__inner">
            <div class="option__ds__profile__fee">
                <button class="btn__choose__option__ds__profile__fee" onclick="showDetailOptionDSFee('warehousingFee')">Warehousing Fee</button>
                <button class="btn__choose__option__ds__profile__fee" onclick="showDetailOptionDSFee('humanResourceCost')">Human Resource Fee</button>
            </div>
            <div class="detail__option__ds__profile__fee">
                <div class="warehousing__fee__ds detail__option__inner">
                    {% if len_all_order == 0 %}
                        <h3>All Fee are finish</h3>
                    {% else %}
                        <h3>Find {{len_all_order}} order in inventory</h3>
                        <div class="warehousing__all__fee">
                            <p class="warehousing__each__fee__ds">Storage Feed: {{storage_fee}} vnđ</p>
                            <p class="warehousing__each__fee__ds">Transportation and handling fee : {{th_fee}} vnđ</p>
                            <p class="warehousing__each__fee__ds">Insurance fee : {{insurance_fee}} vnđ</p>
                        </div>
                    {% endif %}
                    {% if len_all_order == 0 %}
                    {% else %}
                        <form method="post">
                            <input type="submit" name="submitWarehousingFee" required>
                        </form>
                    {% endif %}
                </div>

                <div class="human__cost__ds detail__option__inner">
                    {% if human_resource_cost == 0 %}
                        <p>Not found any fee</p>
                    {% else %}
                        <div>
                            <p>1 : Employee</p>
                            <table>
                                <tr>
                                    <th>Total Employee</th>
                                    <th>Total Salary</th>
                                    <th>Total insurance fee</th>
                                    <th>Total support fee</th>
                                </tr>
                                <tr>
                                    {% for index in human_resource_cost['employee'] %}
                                        <td>{{index}} vnđ</td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div>
                            <p>2 : Head of department</p>
                            <table>
                                <tr>
                                    <th>Total head of department</th>
                                    <th>Total Salary</th>
                                    <th>Total insurance fee</th>
                                    <th>Total support fee</th>
                                </tr>
                                <tr>
                                    {% for index in human_resource_cost['head_of_department'] %}
                                        <td>{{index}} vnđ</td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div>
                            <p>3 : CEO</p>
                            <table>
                                <tr>
                                    <th>Total CEO</th>
                                    <th>Total Salary</th>
                                    <th>Total insurance fee</th>
                                    <th>Total support fee</th>
                                </tr>
                                <tr>
                                    {% for index in human_resource_cost['ceo'] %}
                                        <td>{{index}} vnđ</td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                        <form method="post">
                            <input type="submit" name="submitHumanResourceCost" required>
                        </form>
                        <br>
                        {#<a href="">Detail Human Resource Fee</a>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}