{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <script src="{{url_for('.static', filename='javascript/staticDS.js')}}"></script>
        <script>
            var CurrentPage = parseInt('{{CurrentPage}}')
            var paginationPage = parseInt('{{paginationPage}}')
            document.onreadystatechange = function(){
                if (document.readyState === 'interactive') {
                    onPageLoadPagination();
                    let all_total_money = document.getElementsByClassName('total__money__order')

                    for (let index = 0; index < all_total_money.length; index++){
                        let each_total_money = parseInt(all_total_money[index].innerText, 10)
                        all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                    }
                }
            } 
        </script>
        <link rel="stylesheet" href="{{url_for('.static', filename = 'css/staticDS.css')}}">
        {%  if all_order|length == 0 %}
            <p>Not found</p>
        {% else %}
        <table>
            <tr>
                <th>No</th>
                <th>Code Order</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Total Cost</th>
                <th>Time Arrive</th>
                <th>Product Name</th>
                <th>Image Success</th>
            </tr>
            {% for order in all_order %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        <div class="show__code__order" data-content="{{order[1]}}">
                        <a href="{{url_for('searchOrderDSBP.searchOrderByCodeOrder', CurrentPage = 1, CodeOrder = order[1])}}">{{order[1]}}</a></div></td>
                        
                    <td>
                        <p>Name : {{lstSender[loop.index -1][2]}}</p>
                        <p>Telephone Number : {{lstSender[loop.index -1][3]}}</p>
                        <p>Address: <span>{{lstSender[loop.index -1][4]}}</span>, <span>{{lstSender[loop.index -1][5]}}</span>, <span>{{lstSender[loop.index -1][6]}}</span></p>
                    </td>
                    <td>
                        <p>Name : {{lstReceiver[loop.index -1][2]}}</p>
                        <p>Telephone Number : {{lstReceiver[loop.index -1][3]}}</p>
                        <p>Address: <span>{{lstReceiver[loop.index -1][4]}}</span>, <span>{{lstReceiver[loop.index -1][5]}}</span>, <span>{{lstReceiver[loop.index -1][6]}}</span></p>
                    </td>
                    <td class="total__money__order">{{order[8]}}</td>
                    <td>{{order[12]}}</td>
                    <td>
                        {% for product in lstProduct[loop.index - 1] %}
                            <p>Product {{loop.index}}: {{ product[2] }}</p>
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = order[1])}}">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.dsShowAllOrderByTel', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.dsShowAllOrderByTel', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.dsShowAllOrderByTel', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('.dsShowAllOrderByTel', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
{% endblock %}