{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/searchOrderDS.css'%}">
    <link rel="stylesheet" href="{% static 'DS/css/searchOrderDSFilter.css' %}">
    <script src="{% static 'DS/javascript/searchOrderDS.js' }"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    {% if lstOrder|length != 0 %}
        <div class="option__content__page__search_order__filter">
            {% if dayValue %}
                <p>Found {{len_all_order}} order in {{dayValue}}</p>
            {% elif monthValue %}
                <p>Found {{len_all_order}} order in {{monthValue}}</p>
            {% elif yearValue %}
                <p>Found {{len_all_order}} order in {{yearValue}}</p>
            {% elif telSender and telReceiver %}
                <p>Found {{len_all_order}} order</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="show__order__filter__day">
        {% if lstOrder|length == 0 %}
            <p class="not__found__any__order__search__order__filter">Not found any order</p>
        {% else %}
            {% if lstOrder %}<br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                        <th>Image Get Product</th>
                        <th>Image In Delivery</th>
                        <th>Image Success</th>
                    </tr>
                    {% for index in lstOrder %}
                        <tr>
                            <td>{{foorloop.counter}}</td>
                            <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                            <a href="#">{{index.code_order_delivery}}</a></div></td>
                            <td>
                                {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{sender.name}}</span></p>
                                    <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                    <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{receiver.name}}</span></p>
                                    <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                    <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for product in lstProduct|get_list_item:forloop.counter0 %}
                                    <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                                {% endfor %}
                            </td>
                            <td>{{index.status_order}}</td>
                            <td class="total__money__order">{{index.total_cost}}</td>
                            <td>{{index.note}}</td>
                            <td>
                                {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if index.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range_pagination_page %}
                {% if CurrentPage == page%}
                    {% if dayValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_day' page dayValue %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif monthValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_month' page monthValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif yearValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_year' page yearValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif telSender and telReceiver %}
                        <a href="{% url 'DS_app:DS_search_order_by_tel' page telSender telReceiver %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% else %}
                    {% if dayValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_day' page dayValue %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif monthValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_month' page monthValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif yearValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_year' page yearValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif telSender and telReceiver %}
                        <a href="{% url 'DS_app:DS_search_order_by_tel' page telSender telReceiver %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                    
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range_pagination_page %}
                {% if CurrentPage == page%}
                    {% if dayValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_day' page dayValue %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif monthValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_month' page monthValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif yearValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_year' page yearValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% elif telSender and telReceiver %}
                        <a href="{% url 'DS_app:DS_search_order_by_tel' page telSender telReceiver %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}

                {% else%}
                    {% if dayValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_day' page dayValue %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif monthValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_month' page monthValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif yearValue %}
                        <a href="{% url 'DS_app:DS_search_order_by_year' page yearValue%}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% elif telSender and telReceiver %}
                        <a href="{% url 'DS_app:DS_search_order_by_tel' page telSender telReceiver %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}