{% if imageFirebase is defined %}
    <img src="data:image/jpeg;base64,{{imageFirebase}}" alt="Image">
{% else %}
    <h1>Not found Image</h1>
    <br>
    <p>Please contact admin for more support</p>
{% endif %}