{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <script src="{{url_for('.static', filename='javascript/staticDS.js')}}"></script>
    <script src="{{url_for('.static', filename='javascript/staticDSTime.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <link rel="stylesheet" href="{{url_for('getStaticDSBP.static', filename = 'css/staticDSTime.css')}}">
    <i>Result:</i>
    {% if len_all_order != 0 %}
        <div class="option__content__page">
            <div>
                <p>Show order static by latest time. Found {{len_all_order}} order success all time.</p>
                <i>( Note : all order static by time are success status )</i>
            </div>
            <div>
                <form method="post">
                    <label>Choose Time : </label>
                    <select name="chooseAllTime" onchange="changeStaticDSTime()" class="select__kind__time">
                        <option value="all">All Time</option>
                        <option value="day">Date</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                    <input type="date" name="chooseDateTime" class="each__kind__time choose__date__time">
                    <input type="month" name="chooseMonthTime" class="each__kind__time choose__month__time">
                    <input type="number" max="2999" min="1900" name="chooseYearTime" class="each__kind__time choose__year__time">
                    <input type="submit" name="submitChooseKindTime" class="submit__kind__time">
                </form>
            </div>
        </div><br>
        <table>
            <tr>
                <th>No</th>
                <th>Code Order</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>All Product Name</th>
                <th>Total Cost</th>
                <th>Time Arrive</th>
                <th>Image Get Product</th>
                <th>Image In Delivery</th>
                <th>Image Success</th>
            </tr>
            {% for order in all_order %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><div class="show__code__order" data-content="{{order[1]}}">
                        <a href="{{url_for('searchOrderDSBP.searchOrderByCodeOrder', CurrentPage = 1, CodeOrder = order[1])}}">{{order[1]}}</a></div>
                    </td>
                    <td>
                        <p>Name: {{lstSender[loop.index-1][2]}}</p><br>
                        <p>Telephone Number : {{lstSender[loop.index-1][3]}}</p><br>
                        <p>Address : {{lstSender[loop.index-1][6]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][4]}}, Việt Nam</p>
                    </td>
                    <td>
                        <p>Name: {{lstReceiver[loop.index-1][2]}}</p><br>
                        <p>Telephone Number : {{lstReceiver[loop.index-1][3]}}</p><br>
                        <p>Address : {{lstReceiver[loop.index-1][6]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][4]}}, Việt Nam</p>
                    </td>
                    <td>
                        {% for product in lstProduct[loop.index-1] %}
                            <p>Product {{loop.index}} : {{product[2]}}</p>
                        {% endfor %}
                    </td>
                    <td class="total__money__order">{{order[8]}} vnđ</td>
                    <td>
                        {% if order[10] == 'Success' %}
                            {{order[12]}}
                        {% else %}
                            <p>Not Finish</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if order[10] == 'Delivery' or order[10] == 'Success' %}
                            <a href="{{url_for('showImageFirebaseDSBP.showImageGetProduct', codeOrder = order[1])}}">Watch Image</a>
                        {% else %}
                            <p>Not Image</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if order[10] == 'Delivery' or order[10] == 'Success' %}
                            <a href="{{url_for('showImageFirebaseDSBP.showImageInDelivery', codeOrder = order[1])}}">Watch Image</a>
                        {% else %}
                            <p>Not Image</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if order[10] == 'Success' %}
                            <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = order[1])}}">Watch Image</a>
                        {% else %}
                            <p>Not Image</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('getStaticDSBP.staticOrderByTime', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('getStaticDSBP.staticOrderByTime', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('getStaticDSBP.staticOrderByTime', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('getStaticDSBP.staticOrderByTime', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% elif len_all_order == 0 %}
        <p class="static__ds__all__time__zero__order">Sorry ! we can not find any order success in all time</p>
    {% endif %}
{% endblock %}