* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

body {
    background-color: var(--bg-color);
}

.homepage {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homepage__btn__expand__inner {
    color: white;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: var(--second-color);
    border: 1px solid white;
    cursor: pointer;
    transition: 1s;
}

.homepage__btn__expand__inner:hover{
    background-color: var(--third-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.footer__link {
    text-decoration: none;
    color:white;
}

.homepage__title__group {
    display: flex;
}
.homepage__title__letter {
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 30px;
    color : #F4EEE0;
}

.homepage__title__spacing {
    margin-left: 15px;
    margin-right: 15px;
}

.homepage__title__letter:hover {
    animation: upLetter 2s forwards;
    cursor: grab;
}

@keyframes upLetter {
    0% {
        transform: translateY(0);
        color : #F4EEE0;
    }
    100% {
        transform: translateY(-5rem);
        color: var(--third-color);
    }
}
