* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

body {
    background-color: var(--bg-color);
}

.login__page__inner {
    border: 1px solid var(--fourth-color);
    background-color: var(--third-color);
    border-radius: 5px;
    width: max-content;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

#login__title {
    font-weight: bolder;
    font-size: 120px;
    text-align: center;
    color: white;
}

form {
    margin-top: 16px;
    margin-bottom: 16px;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    color:white;
}

input[type="password"] {
    margin-top: 15px;
    margin-bottom: 15px;
    padding:5px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

input[type='submit'] {
    background-color: var(--second-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

input[type='submit']:hover {
    opacity: 0.5;
}

.footer__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__login div {
    display: flex;
    justify-content: right;
    margin-left: 15px;
}

.footer__login a {
    color: white;
    text-decoration: none;
}

.footer__login div p {
    color:white;
}

.terms__service__link {
    text-decoration: underline !important;
}

input[type='checkbox'] {
    margin-right: 5px;
}

.login__pass__link {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

#error__acount__signup {
    color: red;
    border: 1px solid red;
    padding: 15px 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-weight: bold;
}