* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

body {
    background-color: var(--fourth-color);
}


/* Common block */
.header__page {
    width: 100%;
    height: 100px;
    background-color: var(--third-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position:relative;
}

#header__logo__image {
    height: 80px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__language {
    position: relative;
    margin-right: 72px;
}

.header__menu__language:hover .choose__language__header{
    display: block;
}

#header__menu__language__title {
    cursor:pointer;
    color:white;
}

.choose__language__header {
    background-color: white;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    position: absolute;
    width: max-content;
}

.each__language__title {
    padding:5px;
    text-align: center;
}

.each__language__title:hover {
    background-color: gray;
    color:white;
    cursor:pointer;
}

#notification__image__header {
    position: absolute;
    width: 30px;
    bottom:-10%;
    left:-10%;
}

#header__user__image {
    width: 50px;
}


.navigation__link {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link__to__nagivation {
    color : black;
    text-decoration: none;
}

.homepage__userpage {
    display: flex;
    width: 75%;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
}

.homepage__userpage__link__to__diff__tab {
    width: max-content;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.homepage__userpage__link__to__diff__tab a {
    text-decoration: none;
    background-color: var(--second-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
}

.homepage__userpage__link__to__diff__tab a:hover {
    opacity: 0.5;
    cursor:pointer;
}

#link__to__edit__personal__page {
    color:white;
    text-decoration: none;
}

.header__avatar {
    position: relative;
    cursor: pointer;
}

.header__avatar div {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: -30px;
    width: max-content;
}
#link__to__edit__personal__page {
    color: black;
}

.header__avatar__expand {
    display: none;
    padding: 5px;
}

.header__avatar:hover .header__avatar__expand {
    display: block;
    padding: 5px;
}

.header__avatar__expand__link {
    padding: 5px;
}

.header__avatar__expand__link:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.menu__header {
    display: flex;
    justify-content: space-between;
}

.menu__header__item:hover .menu__header__child {
    opacity: 1;
    visibility: visible;
}

.menu__header__title {
    text-decoration: none;
    color:white;
}

.menu__header__child {
    position: absolute;
    left:0;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.menu__header__child__item {
    width: 25%;
}

.menu__child__list li{
    border-top: 1px solid black;
    padding: 15px;
}

.send__product__menu, .log__out__menu {
    color:white;
    padding-left: 15px;
}

li {
    list-style: none;
}

h4 {
    color: black;
    padding : 15px;
    background-color: var(--second-color);
}

footer {
    background-color: var(--third-color);
    padding-top : 30px;
    padding-bottom: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
}

.footer_link {
    color:white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    color:white;
    margin-bottom: 35px;
}
.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__inform__company {
    color:white;
}

#footer__logo__image {
    height: 80px;
    margin-bottom: 30px;
}
/* This is end of common block */