* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.static__page__userpage {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 10px auto;
    text-align: start;
}

.show__all__btn__static__user {
    width: 75%;
    margin: 15px auto;
}

.btn__static {
    border: none;
    outline: none;
    background-color: blue;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.btn__static:hover {
    cursor: pointer;
    opacity: 0.5;
}

.show__chart__image {
    width: 75%;
    margin: 0 auto;
}

.form__btn__static {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

@media only screen and (max-width:1920px){ 
    .show__btn__static__inner {
        width: 70%;
    }
}
