* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.link__to__static__page {
    width: 75%;
    margin: 0 auto;
}

#back__to__static__page {
    text-decoration: none;
}

.btn__summary__order {
    width: 75%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.input__each__summary__order {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    margin-bottom: 15px;
}

.input__each__summary__order:hover {
    opacity: 0.5;
    cursor: pointer;
}

.show__chart__image {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.summary__order__userpage {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
