* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.show__order__by__date {
    width: 75%;
    margin: 30px auto;
}

#input__static_by__date {
    margin-bottom: 15px;
}

#not__found__order__by__date {
    width: 100%;
    padding:30px;
    border: 1px dashed black;
    border-radius: 15px;
    font-size: 20px;
    color:white;
    background-color: var(--third-color);
}

#comeback__to__static__page{ 
    text-decoration: none;
    margin: 15px calc(25%/2);
    margin-bottom: 15px;
}

#back__to__static__page {
    margin: 15px calc(25%/2);
    text-decoration: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
    content:attr(data-content);
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
     
 }
tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.btn__pagination {
    width: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--second-color);
    padding: 5px;
    color:white;
}

.btn__pagination:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__first__pagination__page, #btn__previous__pagination, #btn__next__pagination, #btn__end__pagination__page {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#btn__first__pagination__page:hover, #btn__previous__pagination:hover, #btn__next__pagination:hover, #btn__end__pagination__page:hover {
    cursor: pointer;
    opacity: 0.5;
}

.pagination__show__all__order {
    width: 100%;
    text-align: right;
    margin: 15px auto;
}

input[type='submit']{
    background-color: var(--second-color);
    color:white;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type='date']{
    padding:15px;
    border-radius: 5px;
}

.show__order__static__delivery {
    width: 75%;
    margin: 0 auto;
}

.comeback__order__delivery__link a {
    text-decoration: none;
}

.comeback__order__delivery__link {
    width: 75%;
    margin: 15px calc(25%/2);
    display: flex;
    justify-content: space-between;
}

.show__order__static__need__delivery {
    width: 75%;
    margin: 0 auto;
}

.comeback__order__need__delivery__link a {
    text-decoration: none;
}

.comeback__order__need__delivery__link {
    width: 75%;
    margin: 15px calc(25%/2);
    display: flex;
    justify-content: space-between;
}

.show__order__static__pending {
    width: 75%;
    margin: 0 auto;
}

.comeback__order__pending__link a {
    text-decoration: none;
}

.comeback__order__pending__link {
    width: 75%;
    margin: 15px calc(25%/2);
    display: flex;
    justify-content: space-between;
}

.show__order__static__success {
    width: 75%;
    margin: 0 auto;
}

.comeback__order__success__link a {
    text-decoration: none;
}

.comeback__order__success__link {
    width: 75%;
    margin: 15px calc(25%/2);
    display: flex;
    justify-content: space-between;
}

.show__all__order {
    width: 75%;
    margin: 0 auto;
    overflow-x: scroll;
}

.show__content__page {
    border: 1px dashed black;
    padding: 15px;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.not__found__any__order__title {
    border: 1px dashed black;
    padding: 15px;
    border-radius: 15px;
}
