* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

hr {
    width: 90%;
    margin-top: 3px;
    margin-bottom: 5px;
}

h3 {
    color: black;
}

.user__send__product {
    padding-top: 32px;
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.infor__sender {
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
}

.each__input__infor__product {
    margin-bottom: 15px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.each__input__infor__product:nth-child(even) {
    background-color: wheat;
}

.each__input__infor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 15px;
    align-items: center;
}

.type__ds__inner {
    display: flex;
    flex-direction: column;
}

.input__infor__tel__sender{
    display: flex;
    flex-direction: column;
}

.input__infor__tel__sender input {
    width: 100% !important;
}

.choose__type__ds__sender {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

input[type='text']{
    width: 90%;
    padding: 5px;
}

.choose__address {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border :1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--second-color);
}

.choose__address div{
    display: flex;
    justify-content: space-between;
}

.choose__address__receiver {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border :1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--second-color);
}

.choose__province, .choose__district {
    margin-right: 5px;
}

#all__product__add__number {
    width:50px;
    background-color: transparent;
    border: none;
}

#all__product__add__number:focus{
    border: none;
    outline: none;
}

#all__product__add__number:hover{
    cursor: text;
}

.list__product__send {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.input__size__product {
    display: flex;
    flex-direction: column;
}

.infor__product {
    display: flex;
    justify-content: space-between;
}

.information__product__title {
    display: flex;
    justify-content: space-between;
}

#btn__add__new__product {
    background-color: var(--second-color);
    color:white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#btn__add__new__product:hover {
    opacity: 0.5;
    cursor: pointer;
}

.input__product__name {
    width: 40% !important;
    margin-left: 5px;
}

.infor__product__input__name {
    display: flex;
}

.input__weight__inner {
    display: flex;
    justify-content: space-between;
}

input[type='number'] {
    width:75%;
    padding: 5px;
}

.input__product__type{
    width: 40%;
}

.input__product__weight {
    width: 40% !important;
    margin-left: 5px;
}

.input__product__quantity {
    width: 40% !important;
    margin-left: 5px;
}

.input__product__size {
    width: 60% !important;
}

.infor__product__input__size {
    display: flex;
    justify-content: right;
}

.input__description__product {
    width: 60%;
}

.note__input__product {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
}

.btn__add__new__product {
    background-color: rgba(0, 0, 255,0.5);
    color : white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.show__all__product__add {
    width: 80%;
    margin-top: 15px;
}

th, td {
    border : 1px solid black;
    padding: 5px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.each__input__receiver__infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.note__address__sender {
    margin-top: 15px;
    margin-bottom: 15px;
}

#text__note__address__sender {
    width: 100%;
    padding:5px;
}

.choose__addres__inner {
    display: flex;
}

#note__infor__receiver {
    width: 70%;
    padding: 5px;
}

#add__new__order {
    background-color: var(--second-color);
    color:white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
}

.notification__new__order__success {
    width: 75%;
    margin: 15px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px solid green;
    background-color: var(--third-color);
    border-radius: 15px;
}

.notification__new__order__success p {
    color:white;
}

.input__product__type__select {
    margin-left: 5px;
}

.content__send__product {
    width: 75%;
    margin: 0 auto;
    border : 1px solid transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(217, 217, 217, 0.3);
}

.content__send__product__inner {
    padding: 15px 25px;
}

#send__product__page__title {
    text-align: center;
    width: max-content;
    margin: 15px auto;
}

#slogan__send__product {
    margin: 0 auto;
    width: max-content;
}

.choose__role {
    width: max-content;
    margin: 0 auto;
}

.btn__choose__role {
    outline: none;
    border: 1px solid transparent;
    padding: 10px 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn__choose__sender {
    border-radius: 5px 0 0  5px;
    color:white
}

.btn__choose__receiver {
    border-radius: 0 5px 5px 0;
    color:white
}

.btn__choose__active {
    background-color: var(--bg-color);
}

.btn__choose__disable {
    background-color: var(--second-color);
}

.input__name__tel__sender__type__ds {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#type__address__sender {
    margin-left: 5px;
    padding: 5px;
}

#choose__DS {
    margin-left: 5px;
    padding: 5px;
}

#choose__province__sender, #choose__district__division_sender, #choose__ward__division__sender {
    padding: 5px;
    font-size: 16px;
}

select {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
}

.count__product__sender {
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: underline;
}
.input__product__type {
    display: flex;
}

.infor__product__description {
    display: flex;
    flex-direction: column;
    padding :5px;
}

.input__description__product {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.input__tel__name__receiver {
    display: flex;
    justify-content: space-between;
}

.input__infor__receiver {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.input__infor__receiver div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

#choose__province__receiver, #choose__district__division__receiver, #choose__ward__division__receiver {
    padding: 5px;
    font-size: 16px;
}

.input__receiver__infor__note {
    display: flex;
    flex-direction: column;
}

#note__infor__receiver {
    width: 100%;
    padding: 5px;
}

.infor__receiver {
    display: none;
}

.group__all__product {
    padding: 5px;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;;
}

.error__send__product {
    width: 100%;
    border: 2px solid red;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

.error__send__product p {
    font-size: 18px;
    color:red;
    font-weight: bold;
}

.infor__product__image {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.infor__product__image label input {
    display: none;
}

.infor__product__image label::before {
    margin-left: 5px;
    content : "Choose image file";
    background-color: var(--second-color);
    color:white;
    cursor:pointer;
    padding: 5px;
    border-radius: 5px;
}

.preview__image__product {
    display: none;
}

.each__input__infor__receiver {
    width: 30% !important;
}