* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.form__input_code__order {
    width: 75%;
    margin: 30px auto;
}

.show__code__order__search {
    width: 75%;
    margin: 0 auto;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
    content:attr(data-content);
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
     
 }
input[type='submit']{
    background-color: var(--second-color);
    color:white;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type='text']{
    padding: 15px;
}

.not__found__search__order__notfication, #problem__search {
    border: 1px dashed var(--second-color);
    padding: 15px;
    border-radius: 15px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}