<!-- Comment block -->
{% load static %}

<link rel="stylesheet" href="{% static 'Users/css/base_users_page.css' %}">
<script src="{% static 'Users/javascript/base_users_page.js' %}"></script>

<div class="header__page">
    <header>
        <div class="logo__header">
            <a href="{% url 'Users_app:Users_base_user_page' %}" class="link__to__nagivation">
                <img src="{% static 'Users/images/Logo.png' %}" alt="logo" id="header__logo__image">
            </a>
        </div>
        <div class="header__menu">
            <div class="header__menu__language">
                <p id="header__menu__language__title">Ngôn ngữ</p>
                <div class="choose__language__header">
                    <p class="each__language__title">Việt Nam</p>
                    <p class="each__language__title">English</p>
                </div>
            </div>

            <ul class="menu__header">
                <li class="menu__header__item">
                    <a href="#" class="menu__header__title">Menu</a>
                    <div class="menu__header__child">
                        <div class="menu__header__child__item">
                            <h4>Order</h4>
                            <ul class="menu__child__list">
                                <li><a href="{% url 'Users_app:Users_static_order_pending' %}" class="link__to__nagivation">In Pending</a></li>
                                <li><a href="{% url 'Users_app:Users_static_order_need_delivery' %}" class="link__to__nagivation">Need Delivery</a></li>
                                <li><a href="{% url 'Users_app:Users_static_order_delivery' %}" class="link__to__nagivation">In Delivery</a></li>
                                <li><a href="{% url 'Users_app:Users_static_order_success' %}" class="link__to__nagivation">Success</a></li>
                                <li><a href="{% url 'Users_app:Users_return_order' %}" class="link__to__nagivation">Return Order</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Static</h4>
                            <ul class="menu__child__list">
                                <li><a href="{% url 'Users_app:Users_show_all_order' %}" class="link__to__nagivation">All Order</a></li>
                                <li><a href="{% url 'Users_app:Users_static_order_by_date' %}" class="link__to__nagivation">Day</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Search Order</h4>
                            <ul class="menu__child__list">
                                <li><a href="{% url 'Users_app:Users_search_order' %}" class="link__to__nagivation">Search Order</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Profile</h4>
                            <ul class="menu__child__list">
                                <li><a class="link__to__nagivation" href="{% url 'Users_app:Users_personal_profile_homepage' %}">Edit Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="{% url 'Users_app:Users_send_product_page' %}" class="link__to__nagivation send__product__menu">Send Product</a>
                </li>
                <li>
                    <a href="{% url 'Users_app:Users_log_out' %}" class="link__to__nagivation log__out__menu">Log out</a>
                </li>
            </ul>
        </div>
    </header>
</div>
<!-- End of comment block -->

{% block contentHomepageUser %}
    {% if name_user %}
        <div class="homepage__userpage">
            <div>
                <h1>Hello User : {{name_user}}</h1><br>
                <p>Bạn muốn đặt giao hàng gì hôm nay nào ?</p>
                <div class="homepage__userpage__link__to__diff__tab">
                    <a href="#">Send Product</a>
                    <a href="#">Search Order</a>
                    <a href="#">All Order</a>
                </div>
            </div>
            <img src="{% static 'Users/images/Logo.png' %}" alt="Image homepage">
        </div>
    {% endif %}
{% endblock %}
{% block contentUserPage %}
{% endblock %}
<footer>
    <div class="footer__inner">
        <div class="footer__item">
            <h3>Order</h3>
            <a href="#" class="footer_link">In Pending</a>
            <a href="#" class="footer_link">Need Delivery</a>
            <a href="#" class="footer_link">In Delivery</a>
            <a href="#" class="footer_link">Success</a>
            <a href="#" class="footer_link">Return Order</a>
        </div>
        <div class="footer__item">
            <h3>Static</h3>
            <a href="#" class="footer_link">All Order</a>
            <a href="#" class="footer_link">Day</a>
        </div>
        <div class="footer__item">
            <h3>Search Order</h3>
            <a href="#" class="footer_link">Search Order</a><br><hr><br>
            <h3>SendProduct</h3>
            <a href="#" class="footer_link">Send Product</a>
        </div>
        <div class="footer__item">
            <img src="{% static 'Users/images/Logo.png' %}" alt="logo" id="footer__logo__image">
            <p class="footer__inform__company">Address : Hồ Chí Minh City</p>
            <p class="footer__inform__company">Tel : 123456789</p>
        </div>
    </div>
</footer>