{% extends 'Users/static_user.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}

{% block eachStaticDetail %}
    <script src="{% static 'Users/javascript/static_order.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Users/css/static_order.css' %}">
    <link rel="stylesheet" href="{% static 'Users/css/return_order.css' %}">
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
            }
        }
    </script>
    <div class="show__content__page">
        <p>All order return:</p>
    </div>
    <div class="show__order__return">
        {% if return_order %}
            {% if return_order|length == 0 %}
                <p class="not__found__any__order__title">Not found any order</p>
            {% else %}
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Product Name</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Date Create</th>
                    </tr>
                    {% for order in return_order %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><div class="show__code__order" data-content="{{order.code_order_delivery}}">{{order.code_order_delivery}}</div></td>
                            <td>
                                {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{sender.name}}</span></p>
                                    <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                    <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{receiver.name}}</span></p>
                                    <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                    <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for product in lstProduct|get_list_item:forloop.counter0 %}
                                    <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {{order.total_cost}}
                            </td>
                            <td>{{order.status_order}}</td>
                            <td>{{order.note}}</td>
                            <td>{{order.date_create}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination__show__all__order">
                    {% if paginationPage > 5 %}
                        <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                        {% for pagination in range_pagination_page %}
                            {% if CurrentPage == pagination %}
                                <a href="#">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="#">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                    {% else %}
                        {% for pagination in range_pagination_page %}
                            {% if CurrentPage == pagination %}
                                <a href="#">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="#">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}