{% extends 'Users/static_user.html' %}
{% load static %}

{% block eachStaticDetail %}
    <link rel="stylesheet" href="{% static 'Users/css/static_order.css' %}">
    <script src="{% static 'Users/javascript/static_order.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        }
    </script>
    <div class="show__order__by__date">
        <form method="post">
            {% csrf_token %}
            <label>Choose Date: </label>
            <input type="date" value="{{dateNow}}" id="input__static_by__date" name="chooseDateStatic" required>
            <input type="submit" value="Find" required>
        </form>
        {% if allOrderByDate %}
            {% if allOrderByDate|length == 0 %}
                <p id="not__found__order__by__date">Not found any order match with {{dateNow}}</p>
            {% else %}
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Product Name</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Date Create</th>
                        <th>Image Get Product</th>
                        <th>Image In Delivery</th>
                        <th>Image Success</th>
                    </tr>
                    {% for order in allOrderByDate %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><div class="show__code__order" data-content="{{order.code_order_delivery}}">{{order.code_order_delivery}}</div></td>
                            <td>
                                {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{sender.name}}</span></p>
                                    <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                    <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                    <p>Name : <span>{{receiver.name}}</span></p>
                                    <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                    <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for product in lstProduct|get_list_item:forloop.counter0 %}
                                    <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                                {% endfor %}
                            </td>
                            <td class="total__money__order">
                                {{order.total_cost}}
                            </td>
                            <td>{{order.status_order}}</td>
                            <td>{{order.note}}</td>
                            <td>{{order.date_create}}</td>
                            <td>
                                {% if order.status_order == 'Delivery' or order.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if order.status_order == 'Delivery' or order.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if order.status_order == 'Success' %}
                                    <a href="#">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination__show__all__order">
                    {% if paginationPage > 5 %}
                        <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticOrderByDate', CurrentPage = pagination + 1, dateNow = dateNow)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticOrderByDate', CurrentPage = pagination + 1, dateNow = dateNow)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                    {% else %}
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticOrderByDate', CurrentPage = pagination + 1, dateNow = dateNow)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticOrderByDate', CurrentPage = pagination + 1, dateNow = dateNow)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}