{% extends 'Users/static_user.html' %}

{% block eachStaticDetail %}
    <link rel="stylesheet" href="{% static 'Users/css/static_order.css' %}">
    <script src="{{url_for('.static', filename='javascript/staticOrder.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        }
    </script>
    <div class="show__content__page">
        <p>Show all order:</p>
    </div>
    <div class="show__all__order">
        {% if allOrderByUser is defined %}
            {% if allOrderByUser|length == 0 %}
                <p class="not__found__any__order__title">Not found any order</p>
            {% else %}
                <div class="table__static__show__all__order">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Code Order</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <th>Product Name</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                            <th>Note</th>
                            <th>Date Create Order</th>
                            <th>Image Get Product</th>
                            <th>Image In Delivery</th>
                            <th>Image Success</th>
                            <th>Invoice Order</th>
                        </tr>
                        {% for order in allOrderByUser %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><div class="show__code__order" data-content="{{order[1]}}">{{order[1]}}</div></td>
                                <td>
                                    <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                                    <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                                    <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                                </td>
                                <td>
                                    <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                                    <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                                    <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                                </td>
                                <td>
                                    {% for product in lstProduct[loop.index - 1] %}
                                        <p>Product {{loop.index}} : {{product[2]}}</p>
                                    {% endfor %}
                                </td>
                                <td class="total__money__order">
                                    {{order[8]}}
                                </td>
                                <td>{{order[10]}}</td>
                                <td>{{order[9]}}</td>
                                <td>{{order[5]}}</td>
                                <td>
                                    {% if order[10] == 'Delivery' or order[10] == 'Success' %}
                                        <a href="{{url_for('showImageFirebaseBpUser.userShowImageGetProductFb', codeOrder = order[1])}}">Watch Image</a>
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order[10] == 'Delivery' or order[10] == 'Success' %}
                                        <a href="{{url_for('showImageFirebaseBpUser.userShowImageInDeliveryFb', codeOrder = order[1])}}">Watch Image</a>
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order[10] == 'Success' %}
                                        <a href="{{url_for('showImageFirebaseBpUser.userShowImageOrderSuccessFb', codeOrder = order[1])}}">Watch Image</a>
                                    {% else %}
                                        <p>None</p>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href=" {{ url_for('GeneratePDF.generatePDF', codeOrder = order[1], totalCost = order[8], sender =  lstSender[loop.index-1], receiver = lstReceiver[loop.index-1], driverName = nameDriver[order[1]], allProduct = [lstProduct[loop.index - 1]], dateCreate = order[5], departureTimeOrder = order[6], estimateArriveOrder = order[7] ) }}">Get Invoice PDF file</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="pagination__show__all__order">
                    {% if paginationPage > 5 %}
                        <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticShowAllOrder', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticShowAllOrder', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                    {% else %}
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticShowAllOrder', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticShowAllOrder', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}