{% extends 'Users/static_user.html' %}
{% load static %}

{% block eachStaticDetail %}
    <script src="{% static 'Users/javascript/static_order.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Users/css/static_order.css' %}">
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        }
    </script>
    <div class="show__content__page">
        <p>All order Success:</p>
    </div>
    <div class="show__order__static__success">
        {% if all_order_success %}
            {% if all_order_success|length == 0 %}
                <p class="not__found__any__order__title">Not found any order</p>
            {% else %}
            <br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Product Name</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Date Create</th>
                        <th>Image Success</th>
                    </tr>
                    {% for order in all_order_success %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><div class="show__code__order" data-content="{{index[1]}}">{{order[1]}}</div></td>
                            <td>
                                <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                {% for product in lstProduct[loop.index - 1] %}
                                    <p>Product {{loop.index}} : {{product[2]}}</p>
                                {% endfor %}
                            </td>
                            <td class="total__money__order">
                                {{order[8]}}
                            </td>
                            <td>{{order[10]}}</td>
                            <td>{{order[9]}}</td>
                            <td>{{order[5]}}</td>
                            <td>
                                <a href="{{url_for('showImageFirebaseBpUser.userShowImageOrderSuccessFb', codeOrder = order[1])}}">Watch Image</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination__show__all__order">
                    {% if paginationPage > 5 %}
                        <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticOrderSuccess', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticOrderSuccess', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                    {% else %}
                        {% for pagination in range(0, paginationPage) %}
                            {% if CurrentPage == pagination + 1 %}
                                <a href="{{url_for('.userStaticOrderSuccess', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination active__btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% else %}
                                <a href="{{url_for('.userStaticOrderSuccess', CurrentPage = pagination + 1)}}">
                                    <button class="btn__pagination" id="btn__page__pagination__page{{pagination + 1}}">{{pagination + 1}}</button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}