{% extends 'Users/base_users_page.html' %}
{% load static %}

{% block contentUserPage %}
    <link rel="stylesheet" href="{% static 'Users/css/users_search_order.css' %}">
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <form method="post" class="form__input_code__order">
        {% csrf_token %}
        <label>Input code order : </label>
        <input type="text" name="inputCodeOrder" required>
        <input type="submit" value ='Find'>
    </form>
    <div class="show__code__order__search">
        {% if getOrder %}
            {% if getOrder|length == 1 %}
                <i>Find 1 order match code order</i><br><br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Product Name</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Image Get Product</th>
                        <th>Image In Delivery</th>
                        <th>Image Success</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><div class="show__code__order" data-content="{{getOrder.0.code_order_delivery}}">{{getOrder.0.code_order_delivery}}</div></td>
                        <td>
                            <p>Name : <span>{{lstSender.0.0.name}}</span></p>
                            <p>Telephone number : <span>{{lstSender.0.0.tel_num}}</span></p>
                            <p>Address : <span>{{lstSender.0.0.ward}}, {{lstSender.0.0.district}}, {{lstSender.0.0.province}}</span></p>
                        </td>
                        <td>
                            <p>Name : <span>{{lstReceiver.0.0.name}}</span></p>
                            <p>Telephone number : <span>{{lstReceiver.0.0.tel_num}}</span></p>
                            <p>Address : <span>{{lstReceiver.0.0.ward}}, {{lstReceiver.0.0.district}}, {{lstReceiver.0.0.province}}</span></p>
                        </td>
                        <td>
                            {% for product in lstProduct.0 %}
                                <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                            {% endfor %}
                        </td>
                        <td class="total__money__order">{{getOrder.0.total_cost}}</td>
                        <td>{{getOrder.0.status_order}}</td>
                        {% comment %}
                        <td>{{getOrder[0][9]}}</td>
                        <td>
                            {% if getOrder[0][10] == 'Delivery' or getOrder[0][10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseBpUser.userShowImageGetProductFb', codeOrder = getOrder[0][1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if getOrder[0][10] == 'Delivery' or getOrder[0][10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseBpUser.userShowImageInDeliveryFb', codeOrder = getOrder[0][1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if getOrder[0][10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseBpUser.userShowImageOrderSuccessFb', codeOrder = getOrder[0][1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>{% endcomment %}
                    </tr>
                </table>
            {% elif getOrder|length == 0 %}
                <div class="not__found__search__order__notfication">
                    <h1>Not found any order</h1><br>
                    <p>Please check code order again or contact to admin for more information</p>
                </div>
            {% elif getOrder|length > 1 %}
                <p id="problem__search">Have some problem happen. Please send a code order to admin for more information. Error code :'Many code order'</p>
            {% endif %}
        {% endif %}
    </div><br>
{% endblock %} 