{% extends 'Users/base_users_page.html' %}
{% load static %}

{% block contentUserPage %}
    <link rel="stylesheet" href="{% static 'Users/css/users_personal_profile.css' %}">
    <script src="{% static 'Users/javascript/user_personal_profile.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    {% if notificationMsg %}
        <p id="notification__msg">{{notificationMsg}}</p>
    {% endif %}
    <div class="personal__profile__user">
        <div class="personal__profile__inner">
            <div class="option__personal__profile">
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('basic')">Edit Basic Information</button>
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('advance')">Edit Advance Information</button>
                <button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('changePass')">Change password</button>
                {#<button class="btn__choose__option__personal__profile" onclick="showDetailOptionProfile('changeAvatar')">Change Avatar</button>#}
            </div>
            <div class="detail__option__personal__profile">
                <div class="basic__information__personal__profile detail__option__inner">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input__name__tel__basic">
                            <div>
                                <label>Name : </label>
                                <input name="inputNameUser" type="text" max="30" min="5" placeholder="{{userInform.0.full_name_user}}" required>
                            </div>
                            <div>
                                <label>Telephone Number : </label>
                                <input name='inputTelUser' type="tel" placeholder="{{userInform.0.tel_user}}" required>
                            </div>
                            <div class="input__gmail__basic">
                                <label>Gmail :</label>
                                <input name="inputGmailUser" type="text" placeholder="{{userInform.0.gmail_user}}" required>
                            </div>
                        </div><br>
                        <div>
                            <label>Gender</label>
                            <select name="inputGenderUser">
                                <option value="0">Men</option>
                                <option value="1">Woman</option>
                                <option value="2">Other</option>
                            </select>
                        </div>
                        <input type="submit" name="submitBasicInform">
                    </form>
                </div>

                <div class="advance__information__personal__profile detail__option__inner">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input__address__personal__profile">
                            <div>
                                <label>Province : </label>
                                <select name="chooseProvinceUserProfile" class="choose__province__advance__option" onchange="loadDistrict(event)">
                                    <option value="NotProvince">Choose Province</option>
                                </select>
                            </div>
                            <div>
                                <label>District : </label>
                                <select name="chooseDistrictUserProfile" class="choose__district__advance__option" onchange="loadWard(event)">
                                    <option value="notDistrict">Choose District</option>
                                </select>
                            </div>
                            <div>
                                <label>Ward : </label>
                                <select name="chooseWardUserProfile" class="choose__ward__advance__option">
                                    <option value="NotWard">Choose Ward</option>
                                </select>
                            </div>
                        </div>
                        <input type='submit' name="submitAdvanceInform">
                    </form>
                </div>

                <div class="change__password__personal__profile detail__option__inner">
                    <form method="post">
                        {% csrf_token %}
                        <div class="change__password__inner">
                            <div class="input__password__first">
                                <label>Password : </label>
                                <input type="password" min="6" max="20" name="inputFirstPass" class="input__first__pass" required>
                            </div>
                            <div class="input__password__second">
                                <label>Confirm Password : </label>
                                <input class='input__second__pass' min='6' max='20' type="password" name="inputSecondPass" oninput="checkFirstSecondPassword()" required>
                            </div>
                        </div>
                        <input id="submit__change__pass" type="submit" name="submitChangePass">
                    </form>
                    <p id="check__first__second__pass"></p>
                </div>
                
                {#
                <div class="change__avatar__personal__profile detail__option__inner">
                    <form method="post">
                        <input type="file" required>
                        <input type="submit" name="submitChangeAvatar">
                    </form>
                </div>
                #}
            </div>
        </div>
    </div><br>
{% endblock %}
