{% extends 'Users/base_users_page.html' %}
{% load static %}

{% block contentUserPage %}<br><br>
    <link rel="stylesheet" href="{% static 'Users/css/users_send_product.css' %}">
    <script src="{% static 'Users/javascript/user_send_product.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script>
        var allProductWasAdd = []
    </script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onLoadProvince();
            }
        } 
    </script>
    {% if notificationNewOrder %}
        <div class="notification__new__order__success">
            <p>{{notificationNewOrder}}</p>
        </div>
    {% endif %}
    <div class="content__send__product">
        <div class="content__send__product__inner">
            <div class="header__form__send__product">
                <h1 id="send__product__page__title">Send Product</h1>
                <p id="slogan__send__product">Fast Delivery ( usually less than 3 days ) - Secure Product (delivery person can't check your product ) - Cheap Cost ( we includes cod cost )</p>
            </div><br>
            <div class="choose__role">
                <button class="btn__choose__role btn__choose__sender btn__choose__active" onclick="chooseBtnSenderReceiver('sender')">Sender</button>
                <button class="btn__choose__role btn__choose__receiver btn__choose__disable" onclick="chooseBtnSenderReceiver('receiver')">Receiver</button>
            </div>
            {% if errorSendProductLst %}
                <div class="error__send__product">
                    {% for index in errorSendProductLst %}
                        <p>{{index}}</p>
                    {% endfor %}
                    <br><hr>
                    <h1>Can't create new order</h1>
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="infor__sender">
                    <div class="input__infor__sender">
                        <div class="input__name__tel__sender__type__ds">
                            <div class="input__infor__name__sender">
                                <label>Name: </label>
                                <input type="text" name="inputSenderName" required>
                            </div>
                            <div class="input__infor__tel__sender">
                                <label>Telephone Number: </label>
                                <input type="number" name="inputSenderTelNum" required>
                            </div>
                            <div class="type__ds__inner">
                                <label>Type of Address: </label>
                                <select name="typeAddressSender" id="type__address__sender">
                                    <option value="home">Home</option>
                                    <option value="company">Company</option>
                                </select>
                            </div>
                            <div class="type__ds__inner">
                                <label>Choose Delivery System: </label>
                                <select name="chooseDS" id="choose__DS">
                                    {% for index in all_DS %}
                                        {{index}}
                                        {% comment %}<option value="{{index[0]}}">{{index[1]}}</option> {% endcomment %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="choose__address">
                            <label>Choose Address: </label>
                            <div>
                                <div class="choose__province">
                                    <select name="chooseAddProvinceSender" class="choose__province__division" id="choose__province__sender" onchange="loadDistrict(event)">
                                        <option value="NotProvince">Choose Province/ City</option>
                                    </select>
                                </div>
                                <div class="choose__district">
                                    <select name="chooseAddDistrictSender" id="choose__district__division_sender" onchange="loadWard(event)">
                                        <option value="NotDistrict">Choose district</option>
                                    </select>
                                </div>
                                <div class="choose__ward">
                                    <select name="chooseAddWardSender" id="choose__ward__division__sender">
                                        <option value="NotWard">Choose Ward</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="note__address__sender">
                            <label>Note:</label>
                            <textarea name="noteAddressSender" id="text__note__address__sender"></textarea>
                        </div>
    
                        <!-- Code here -->
                        <div class="all__product__add">
                            <div class="information__product__title">
                                <p>All Product are : <input type="text" id="all__product__add__number" name="allProductAdd" value="1" readonly></p>
                                <button id='btn__add__new__product' type="button" onclick="addNewDivProduct()">Add New Product</button>
                            </div>
                            <br>
                            <div class="group__all__product">
                                <div class="each__input__infor__product">
                                    <p class="count__product__sender">Product 1</p>
                                    <div class="list__product__send">
                                        <div class="infor__product__input__name">
                                            <label>Product Name:</label>
                                            <input type="text" name="productName0" class="input__product__name" required>
                                        </div>
                                        <div class="input__product__type">
                                            <label>Product Type:</label>
                                            <select name="chooseTypeProduct0" class="input__product__type__select">
                                                <option value="food">Food</option>
                                                <option value="animal">Animal</option>
                                                <option value="car">Car</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <div class="right__input__sender__product">
                                            <label>Quantity:</label>
                                            <input type="number" name="productQuantity0" class="input__product__quantity" required>
                                        </div>
                                        <div>
                                            <label>Product Weight:</label>
                                            <input type="number" name="productWeight0" class="input__product__weight" required>
                                        </div>
                                        <div class="infor__product__input__size"> 
                                            <label>Size:</label>
                                            <input type="text" name="productSize0" class="input__product__size" required>
                                        </div>
                                    </div>
                                    <div class="infor__product__description">
                                        <label>Description</label>
                                        <textarea name="descriptionProduct0" class="input__description__product"></textarea>
                                    </div>
                                    <div class="infor__product__image">
                                        <div>
                                            <p>Choose Image Product :</p><br>
                                            <label>
                                                <input onchange = "inputImagePreview(event)" class='input__choose__image__product' id="input__file__image__0" name='imageProduct0' type="file" accept=".png, .jpg, .jpeg" size = '2097152'>
                                            </label>
                                        </div>
                                        <img class="preview__image__product" id="preview__image__product__0" src="" alt="Preview Image" width="100px" height="100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="note__input__product">
                            <h3>Notice</h3>
                            <p>- Weight base gram. Ex: if product is food have 3.2kg so it mean 3200g </p>
                            <p>- Input size like that weight_size x heigh_size x depth_size. Ex : product have size 30x30x30 (cm)</p>
                        </div>
                    </div>
                </div>
                <div class="infor__receiver">
                    <div class="input__receiver__infor">
                        <div class="input__infor__receiver">
                            <div>
                                <div class="each__input__infor__receiver">
                                    <label>Name</label>
                                    <input type="text" name="inputReceiverName" required>
                                </div>
                                <div class="each__input__infor__receiver">
                                    <label>Telephone Number</label>
                                    <input type="text" name="inputReceiverTelNum" required>
                                </div>
                                <div class="each__input__infor__receiver">
                                    <label>Type</label>
                                    <select name="typeAddressReceiver">
                                        <option value="home">Home</option>
                                        <option value="company">Company</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="each__input__infor__receiver">
                                    <label>Shipping Cost ( vnđ )</label>
                                    <input type="number" name="inputShippingCost" required>
                                </div>
                                <div class="each__input__infor__receiver">
                                    <label>COD cost ( vnđ )</label>
                                    <input type="number" name="inputCODCost" required>
                                </div>
                                <div class="each__input__infor__receiver">
                                    <label>Who pay</label>
                                    <select name="whoPayCost">
                                        <option value="sender">Sender</option>
                                        <option value="receiver">Receiver</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="choose__address__receiver">
                            <label>Choose Address</label>
                            <div class="choose__addres__inner">
                                <div class="choose__province">
                                    <select name="chooseAddProvinceReceiver" class="choose__province__division" id='choose__province__receiver' onchange="loadDistrict(event)">
                                        <option value="NotProvince">Choose Province/City</option>
                                    </select>
                                </div>
                                <div class="choose__district">
                                    <select name="chooseAddDistrictReceiver" id="choose__district__division__receiver" onchange="loadWard(event)">
                                        <option value="NotDistrict">Choose District</option>
                                    </select>
                                </div>
                                <div class="choose__ward">
                                    <select name="chooseAddWardReceiver" id="choose__ward__division__receiver">
                                        <option value="NotWard">Choose Ward</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="input__receiver__infor__note">
                            <label>Note:</label>
                            <textarea id="note__infor__receiver" name="noteAddrReceiver"></textarea>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Order" id="add__new__order">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
{% endblock %}