* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}


body {
    background-color: var(--fourth-color);
}

.header__page {
    width: 100%;
    height: 100px;
    background-color: var(--third-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#header__user__image {
    width: 50px;
}

#header__logo__image {
    height: 80px;
}

#footer__logo__image {
    height: 80px;
    margin-bottom: 30px;
}

#header__menu__language__title {
    cursor:pointer;
    color:white;
}


.choose__language__header {
    background-color: white;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    position: absolute;
    width: max-content;
}

.header__menu__language {
    position: relative;
    margin-right: 72px;
}

.header__menu__language:hover .choose__language__header{
    display: block;
}

.each__language__title {
    padding:5px;
    text-align: center;
}

.each__language__title:hover {
    background-color: gray;
    color:white;
    cursor:pointer;
}

#input__search__header {
    padding: 5px;
    border-radius: 5px;
    width: 150%;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__account {
    position: relative;
}

#notification__image__header {
    position: absolute;
    width: 30px;
    bottom:-10%;
    left:-10%;
}

#number__notification__header {
    position: absolute;
    border : 1px solid black;
    border-radius: 50%;
    width: 20px;
    height:20px;
    text-align: center;
    background-color: white;
    color:red;
    font-weight: bold;
    bottom: -20%;
}

.triangle__header__account {
    position: absolute;
    right: -50%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid black;
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
}

.triangle__open__close__sidebar {
    position: absolute;
    border:none;
    outline:none;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b3b3b3;
    right:-10px;
    bottom:50%;
    
}

.content__page {
    width: 75%;
    margin:16px auto;
}

.sidebar__page {
    float:left;
    height: 500px;
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar__page__inner {
    position: absolute;
    left:-200px;
    height: fit-content;
    width: inherit;
    background-color: #b3b3b3;
    position:fixed !important;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition-property: left;
    transition-duration: 1s;
}

.sidebar__link {
    text-decoration: none;
    color:black;
    padding: 15px;
    background-color: #cccccc;
    margin-top: 5px;
    font-weight: bold;
}

.sidebar__page__inner:hover {
    left:0;
}

.navigation__page {
    width: 100%;
    height: 50px;
    background-color: var(--second-color);
}

.navigation__page__inner {
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.link__to__nagivation {
    color : black;
    text-decoration: none;
}

#current__dateTime {
    color:black;
}

.sidebar__link:hover {
    background-color: rgba(204, 204, 204, 0.3);
}

.order__navigation {
    position: relative;
}

.order_group__navigation__link {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.order_group__navigation__link a {
    padding: 5px 10px;
}

.order_group__navigation__link a:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.order__navigation div {
    display: none;
}

.order__navigation:hover div {
    display: flex;
}


.header__avatar {
    position: relative;
    cursor: pointer;
}

.header__avatar div {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 100%;
    width: max-content;
}

.header__avatar__expand {
    display: none;
    padding: 5px;
}

.header__avatar:hover .header__avatar__expand {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.header__avatar__expand__link {
    padding: 5px;
}

.header__avatar__expand__link:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.link__to__edit__personal__page {
    color: black;
    text-decoration: none;
}


.static__order__navigation {
    position: relative;
}

.static__order__group__navigation__link {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.static__order__group__navigation__link a {
    padding: 5px 10px;
}

.static__order__group__navigation__link a:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.static__order__navigation div {
    display: none;
}

.static__order__navigation:hover div {
    display: flex;
}

.content__homepage__chart {
    display: flex;
    justify-content: space-between;
}

.img__chart__base {
    border: 1px solid black;
}

.img__chart__order__each__month {
    width: 100%;
    margin-top: 15px;
    border: 1px solid black;
}

.menu__header {
    display: flex;
    justify-content: space-between;
}
.menu__header__item:hover .menu__header__child {
    opacity: 1;
    visibility: visible;
}

.menu__header__child {
    position: absolute;
    left:0;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.menu__header__child__item {
    width: 25%;
}

li {
    color: black;
    list-style: none;
}

h4 {
    color: black;
    padding : 15px;
    background-color: var(--second-color);
}

.menu__child__list li{
    border-top: 1px solid black;
    padding: 15px;
}

.menu__header__title {
    text-decoration: none;
    color:white;
}

.log__out__ds {
    color:white;
    font-size: 16px;
    margin-left: 15px;
}

.show__order__fail {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--third-color);
    margin-bottom: 15px;
}

.show__order__fail p {
    color:white;
}

.show__order__fail a {
    color:white;
    text-decoration: none;
    padding:15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--second-color);
    cursor: pointer;
}

footer {
    clear:left;
    background-color: var(--third-color);
    padding-top : 30px;
    padding-bottom: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 0 auto;
}

.footer_link {
    color:white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    color:white;
    margin-bottom: 35px;
}
.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__inform__company {
    color:white;
}

@media only screen and (max-width:1920px){
    .navigation__link {
        width: 40%;
    }
}