* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.ds__edit__order__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border: 1px dashed black;
    padding: 5px;
}

.ds__edit__order__form input {
    padding: 5px
}

.input__tel__number__sender__form {
    margin-bottom: 15px;
}

#submit__tel__num__form {
    margin-top: 15px;
    width: 100%;
}

.input__form__tel__sender__receiver{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input__form__tel__sender__receiver div {
    display: flex;
    justify-content: space-between;
}

.input__form__tel__sender__receiver input {
    width: 50%;
}

.edit__order__div {
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.3);
    display: flex;
    justify-content: space-between;
}

.edit__order__div input[type='text']{
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

input[type='submit'] {
    padding: 5px;
    background-color: var(--second-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}