* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.personal__profile__driver {
    margin-top: 30px;
}

.personal__profile__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.option__personal__profile {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.btn__choose__option__personal__profile {
    padding: 15px;
    background-color: var(--third-color);
    color:white;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.btn__choose__option__personal__profile:hover {
    opacity: 0.3;
}

.active__option__personal__profile {
    background-color: var(--second-color);
}

.detail__option__personal__profile {
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 100%;
    height: max-content;
    padding: 15px;
}

label {
    color: black;
}

input[type='text'] {
    padding: 5px;
    border-radius: 5px;
}

input[type='tel']{
    padding: 5px;
    border-radius: 5px;
}

input[type='password']{
    padding: 5px;
    border-radius: 5px;
}

input[type='date']{
    padding: 5px;
    border-radius: 5px;
}

input[type='number']{
    padding: 5px;
    border-radius: 5px;
}

input[type='submit']{
    background-color: var(--second-color);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    margin-top: 50px;
    float: right;
}

.input__name__tel__basic {
    display: flex;
    justify-content: space-between;
}

.input__password__basic {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.detail__option__inner {
    display: none;
}

.input__address__personal__profile{
    display: flex;
    justify-content: space-between;
}

select {
    border-radius: 5px;
    padding: 15px;
}

option {
    padding: 15px;
}

.change__password__inner {
    display: flex;
    justify-content: space-between;
}

#notification__msg {
    width: 100%;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;
    font-weight: bolder;
    color:white;
    background-color: var(--third-color);
    border-radius: 15px;
}

#check__first__second__pass {
    margin-top: 30px;
}

.input__driver__license__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__motor__reg__cert__inner {
    display: flex;
    flex-direction: column;
}

.input__motor__reg__cert__inner div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-right: 5px;
}

.select__id__driver {
    margin-bottom: 15px;
}