* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.title__page__btn__update {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed black;
    padding : 15px;
    border-radius: 15px;
}

input[type='submit']{
    background-color: var(--third-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

input[type='submit']:hover {
    cursor: pointer;
    opacity: 0.5;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    outline: 3px solid black;
    transition: 1s;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.3);
}

.notification__success__update {
    margin: 15px auto;
    padding: 15px;
    border: 1px dashed black;
    color: black;
    border-radius: 15px;
    background-color: var(--second-color);
}

.notification__success__update p {
    color:black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
   width: 150px;
   text-overflow: ellipsis;
   overflow: hidden;
}

.show__code__order:hover::after{
    content:attr(data-content);
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    
}

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}