* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    outline: 1px solid black;
    transition: 1s;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

.order__delivery__title {
    padding: 15px;
    border-radius: 15px;
    border: 1px dashed black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
    content:attr(data-content);
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
     
 }