* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.btn__search__order__ds button {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn__search__order__ds button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.form__input__search__order {
    margin-top: 15px;
}

.each___input__search {
    display: none;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    outline: 3px solid black;
    transition: 1s;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.3);
}

.option__content__page__search_order__filter, .not__found__any__order__search__order__filter {
    padding: 15px;
    border-radius: 15px;
    border: 1px dashed black;
}