* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

#back__to__search__order__title{
    text-decoration: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;

}

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.not__found__any__order__search__code__order {
    padding: 15px;
    border: 1px dashed black;
    border-radius: 15px;
}

select {
    padding: 15px
}

form {
    padding: 15px;
    border: 1px dashed black;
    border-radius: 15px;
    margin-bottom: 15px;
}

input[type='submit'] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: var(--third-color);
}

.notification__msg__search__order__code {
    border: 1px dashed black;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: var(--third-color);
}

#update__fail__order__driver {
    color: white;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }