* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.option__content__page {
    display: flex;
    justify-content: space-between;
    border: 15px;
    border-radius: 15px;
    padding: 15px;
    border: 1px dashed black;
}

select {
    padding: 15px;
    border-radius: 5px;
}

.each__kind__time {
    display: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
    content:attr(data-content);
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
     
 }
tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    outline: 3px solid black;
    transition: 1s;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
    cursor:pointer;
}

.link__to__order {
    color: black;
}

input[type='submit']{
    background-color: var(--second-color);
    color:white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type='date'], input[type='month'], input[type='number'] {
    padding : 15px
}

.static__ds__all__time__zero__order {
    padding: 15px;
    border: 1px dashed black;
    border-radius: 15px;
}