* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.option__static__ds__driver {
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    border-radius: 15px;
    padding: 15px;
}

.form__submit__static__driver {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choose__driver__static {
    margin-right: 15px;
}

.choose__kind__time__day {
    display: none;
}

input[type='submit']{
    background-color: var(--third-color);
    padding: 15px;
    border: none;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    margin-left: 15px;
}

select {
    padding: 15px;
    border-radius: 5px;
}

input[type='date']{
    padding: 15px;
    border-radius: 5px;
    margin: 0 15px;
}

.show__result__static__driver {
    margin: 15px 0;
    padding: 15px;
    border-radius: 15px;
    border: 1px dashed black;
    background-color: var(--third-color);
    color:white;
}