* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

.option__static__dscsv {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed black;
    border-radius: 15px;
    padding: 15px;
}

.get__excel__link {
    text-decoration: none;
    padding: 5px;
    background-color: var(--third-color);
    border-radius: 5px;
    color:white;
}