* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

:root{
    --bg-color:#212A3E;
    --second-color:#9BA4B5;
    --third-color: #394867;
    --fourth-color:#F1F6F9;
}

input[type='submit'] {
    padding:5px;
    border: none;
    outline:none;
    border-radius: 5px;
    background-color: blue;
    color:white;
}

input[type='submit']:hover {
    cursor: pointer;
    opacity: 0.5;
}

.choose__option__static {
    margin-bottom: 15px;
}

.btn__choose__option__static {
    background-color: blue;
    padding:5px;
    border:none;
    outline:none;
    border-radius: 5px;
    color:white;
}

.btn__choose__option__static:hover {
    cursor:pointer;
    opacity: 0.5;
}

.each__get__static {
    display: none;
}

.pagination__page {
    text-align: right;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn__pagination {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
}

.btn__pagination:hover {
    outline: 3px solid black;
    transition: 1s;
    cursor: pointer;
}

.active__btn__pagination {
    background-color: var(--third-color);
}

#btn__previous__pagination, #btn__next__pagination, #btn__first__pagination__page, #btn__end__pagination__page {
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
}

.link__to__search__order__page {
    margin-bottom: 15px;
}

#back__to__search__order_page {
    text-decoration: none;
}

.show__order__filter__month {
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr, td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

tr:first-child {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

tr:hover {
    outline: 5px solid black;
    transition: 1s;
}

.static__ds__filter {
    padding: 15px;
    border: 15px;
    border: 1px dashed black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.show__code__order {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .show__code__order:hover::after{
     content:attr(data-content);
     position: absolute;
     background-color: white;
     padding: 2px;
     border: 1px solid black;
     
 }

.static__ds__time__zero__order {
    padding: 15px;
    border: 15px;
    border: 1px dashed black;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: var(--third-color);
    color:white;
}

.show__total__money, #not__found__any__order {
    padding: 15px;
    border: 1px dashed black;
    border-radius: 15px;
}