<meta charset="utf-8">
{% if pdfStatus is defined %}
<a href="{{ url_for('GeneratePDF.downloadPDF', codeOrder = codeOrder, totalCost = totalCost, nameDriver = nameDriver, sender = sender, receiver = receiver, allProduct = allProduct, dateCreate = dateCreate, departureTimeOrder = departureTimeOrder, estimateArriveTime = estimateArriveTime) }}">Download pdf file</a>
<hr>
{% endif %}
<div class="invoice__detail">
    <div class="invoice__detail__inner">
        <p id="invoice__title">Invoice Order</p>
        <div class="invoice__inform">
            <p>Code Order : {{codeOrder}}</p>
            <p>Name driver : {{nameDriver}}</p>
            <p>Time order create : {{dateCreate}}</p>
            <p>Departure Time : {{departureTimeOrder}}</p>
            <p>Estimate Time: {{estimateArriveTime}}</p>
        </div>
        <div class="inform__sender">
            <h1>Sender</h1>
            <p>Name : {{sender[2]}}, Telephone Number : {{sender[3]}}, Address : {{sender[4]}}, {{sender[5]}}, {{sender[5]}} </p>
        </div>
        <div class="infom__receiver">
            <h1>Receiver</h1>
            <p>Name : {{receiver[2]}}, Telephone Number : {{receiver[3]}}, Address : {{receiver[4]}}, {{receiver[5]}}, {{receiver[6]}}</p>
        </div>
        <div class="all__product">
            <h1>All Product</h1>
            <table>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Type</th>
                    <th>Weight</th>
                    <th>Cost</th>
                </tr>

                {% for product in allProduct %}
                        <tr>
                            <th>{{loop.index}}</th>
                            <th>{{product[2]}}</th>
                            <th>{{product[4]}}</th>
                            <th>{{product[6]}}</th>
                            <th>{{product[5]}}</th>
                            <th>{{product[8]}}</th>
                        </tr>
                {% endfor %}
            </table>
            <p>Total cost : {{totalCost}}</p>
        </div>
        <div class="sign__name">
            <div class="each__sign__name">
                <p>Driver</p>
                <p>{{nameDriver}}</p>
            </div>
            <div class="each__sign__name">
                <p>Sender</p>
                <p>{{sender[2]}}</p>
            </div>
            <div class="each__sign__name">
                <p>Receiver</p>
                <p>{{receiver[2]}}</p>
            </div>
        </div>
    </div>
</div>

<style>
    * {
        margin:  0;
        padding: 0;
        box-sizing: border-box;
    }

    .invoice__detail__inner {
        width: 75%;
        margin: 0 auto;
    }

    #invoice__title {
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
        margin-top: 15px;
    }

    .inform__sender, .infom__receiver, .all__product {
        margin-top: 30px;
    } 

    table {
        border-collapse: collapse;
        width:100%
    }

    tr, td, th {
        border : 1px solid black
    }

    .sign__name {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        height: 200px;
    }

    .each__sign__name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

</style>