<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<div class="homepage">
    <div class="homepage__title__group">
        <p class="homepage__title__letter">D</p>
        <p class="homepage__title__letter">e</p>
        <p class="homepage__title__letter">l</p>
        <p class="homepage__title__letter">i</p>
        <p class="homepage__title__letter">v</p>
        <p class="homepage__title__letter">e</p>
        <p class="homepage__title__letter">r</p>
        <p class="homepage__title__letter">y</p>
        <p class="homepage__title__spacing"></p>
        <p class="homepage__title__letter">S</p>
        <p class="homepage__title__letter">y</p>
        <p class="homepage__title__letter">s</p>
        <p class="homepage__title__letter">t</p>
        <p class="homepage__title__letter">e</p>
        <p class="homepage__title__letter">m</p>
    </div>
    <a href="#">
        <button class="homepage__btn__expand__inner">Login Page</button>
    </a>
    <footer>
        <a href="#" class="footer__link">About Delivery Service</a>
        <a href="#" class="footer__link">Contact us</a>
        <a href="#" class="footer__link">Help</a>
    </footer>
</div>