{% load static %}
<link rel="stylesheet" href="{% static 'Homepage/css/login_account.css'%}">

<div class="login__page">
    <div class="login__page__inner">
        <p id="login__title">Login</p>
        <form method="post">
            <label>User name:</label><br>
            <input type="text" maxlength="20" name="input_username" required><br>
            <input type="submit" value="Next" name="login_account">
        </form>
        {% if login_error %}
            <p id="error__account__login">{{error}}</p>
        {% endif %}
        <div class="footer__login">
            <a href="#">Homepage</a>
            <a href="#">Contact</a>
            <div>
                <input type="checkbox" name="checkbox_terms" required>
                <p>Agree with <a href="#" class="link__terms__service">terms and service</a></p>
            </div>
        </div>
    </div>
</div>