{% load static %}
<link rel="stylesheet" href="{% static 'Homepage/css/login_password.css'%}">

<div class="login__page">
    <div class="login__page__inner">
        <p id="login__title">Sign in</p>
        <form method="post">
            <label>Password:</label><br>
            <input type="password" maxlength="20" name="input_pass" required><br>
            <input type="submit" value="Log in" name="login_pass" >
        </form>
        {% if error%}
            <p id="error__acount__signup">{{ error }}</p>
        {% endif %}
        <div class="footer__login">
            <a href="{{url_for('homepageBp.homepage')}}">Homepage</a>
            <a href="#">Contact</a>
            <div>
                <input type="checkbox" name="checkboxTerms" required>
                <p>Agree with <a href="#" class="terms__service__link">terms and service</a></p>
            </div>
        </div>
    </div>
</div>