{% load static %}
<link rel="stylesheet" href="{% static 'DS/css/base_DS.css' %}">
<script src="{% static 'DS/javascript/base_DS.js' %}"></script>
<div class="header__page">
    <header>
        <div class="logo__header">
            <a href="{% url 'DS_app:DS_homepage' %}" class="link__to__nagivation">
                <img src="{% static 'DS/images/Logo.png' %}" alt="logo" id="header__logo__image">
            </a>
        </div>
        <div class="header__menu">
            
            <div class="header__menu__language">
                <p id="header__menu__language__title">Ngôn ngữ</p>
                <div class="choose__language__header">
                    <p class="each__language__title">Việt Nam</p>
                    <p class="each__language__title">English</p>
                </div>
            </div>
            <ul class="menu__header">
                <li class="menu__header__item">
                    <a href="#" class="menu__header__title">Menu</a>
                    <div class="menu__header__child">
                        <div class="menu__header__child__item">
                            <h4>Order</h4>
                            <ul class="menu__child__list">
                                <li><a href="#" class="link__to__nagivation">In Pending</a></li>
                                <li><a href="#" class="link__to__nagivation">Need Delivery</a></li>
                                <li><a href="#" class="link__to__nagivation">In Delivery</a></li>
                                <li><a href="#" class="link__to__nagivation">Success</a></li>
                                <li><a href="#" class="link__to__nagivation">Return ( Fail )</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Static</h4>
                            <ul class="menu__child__list">
                                <li><a href="#" class="link__to__nagivation">Make CSV File</a></li>
                                <li><a href="#" class="link__to__nagivation">Status Order</a></li>
                                <li><a href="#" class="link__to__nagivation">Time</a></li>
                                <li><a href="#" class="link__to__nagivation">Revenue</a></li>
                                <li><a href="#" class="link__to__nagivation">Driver</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Search Order</h4>
                            <ul class="menu__child__list">
                                <li><a class="link__to__nagivation" href="#">Search Order</a></li>
                            </ul>
                        </div>
                        <div class="menu__header__child__item">
                            <h4>Profile</h4>
                            <ul class="menu__child__list">
                                <li><a class="link__to__nagivation" href="#">Edit Driver Profile</a></li>
                                <li><a class="link__to__nagivation" href="#">Fee</a></li>
                                <li><a class="link__to__nagivation" href="#">Edit Order</a></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="link__to__nagivation log__out__ds">Log out</a>
                </li>
            </ul>
        </div>
    </header>
</div>


<div class="content__page">
    <div class="content__each__page">
        {% comment %}
        {% block contentHomepageDS %}
            {% if status is defined %}
                {% if len_order_fail is defined %}
                    {% if len_order_fail != 0 %}
                        <div class="show__order__fail">
                            <p>Found {{len_order_fail}} order fail</p>
                            <a href="{{url_for('deliverySystem.orderReturnDS', CurrentPage = 1)}}">Show all order return ( order fail )</a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="content__homepage__ds">
                    <div class="content__homepage__chart">
                        {% if imageChartBase is defined %}
                            <a href="{{url_for('getStaticDSBP.staticDSStatus', CurrentPage = 1)}}">
                                <img src="data:image/png;base64,{{ imageChartBase }}" alt="Image chart" class="img__chart__base" width="500px">
                            </a>
                        {% endif %}
                        {% if totalMoneyChart is defined %}
                            <a href="{{url_for('getStaticDSBP.staticOrderByRevenue', CurrentPage = 1)}}">
                                <img src="data:image/png;base64,{{ totalMoneyChart }}" alt="Image chart" class="img__chart__base" width="500px">
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if statusOrderEachMonth is defined %}
                        <a href="{{url_for('getStaticDSBP.staticOrderByTime', CurrentPage = 1)}}">
                            <img src="data:image/png;base64,{{ statusOrderEachMonth }}" alt="Image chart" class="img__chart__order__each__month" >
                        </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if chart_each_driver_order is defined %}
                            <a href="{{url_for('getStaticDSBP.getStaticDSDriver')}}">
                                <img src="data:image/png;base64,{{ chart_each_driver_order }}" alt="Image chart" class="img__chart__order__each__month" >
                            </a>
                        {%  endif %}
                    </div>
                </div>
                <div>
                    
                </div>
            {% endif %}
        {% endblock %}
        {% endcomment %}
        {% block contentPageDeliverySystem %}

        {% endblock %}
    </div>
</div>

<footer>
    <div class="footer__inner">
        <div class="footer__item">
            <h3>Order</h3>
            <a href="#" class="footer_link">In Pending</a>
            <a href="#" class="footer_link">Need Delivery</a>
            <a href="#" class="footer_link">In Delivery</a>
            <a href="#" class="footer_link">Success</a>
            <a href="#" class="footer_link">Return ( Fail )</a>
        </div>
        <div class="footer__item">
            <h3>Static</h3>
            <a href="#" class="footer_link">Make CSV File</a>
            <a href="#" class="footer_link">Status Order</a>
            <a href="#" class="footer_link">Time</a>
            <a href="#" class="footer_link">Revenue</a>
            <a href="#" class="footer_link">Driver</a></li>
        </div>
        <div class="footer__item">
            <h3>Search Order</h3>
            <a class="footer_link" href="#">Search Order</a>
        </div>
        <div class="footer__item">
            <img src="{% static 'DS/images/Logo.png' %}" alt="logo" id="footer__logo__image">
            <p class="footer__inform__company">Address : Hồ Chí Minh City</p>
            <p class="footer__inform__company">Tel : 123456789</p>
        </div>
    </div>
</footer>