{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{{ url_for('deliverySystem.static', filename = 'css/orderInPending.css')}}">

    {% if notificationMsg is defined %}
        <div class="notification__success__update">
            {% for notification in notificationMsg %}
                <p>{{notification}}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        <div class="title__page__btn__update">
            <p>{{len_all_order}} order in pending:</p>
            <input type="submit" value="Update">
            {#<input type="submit" value="Auto Update Driver" name="autoUpdateDriver">#}
        </div>
        <script>
            var CurrentPage = parseInt('{{CurrentPage}}')
            var paginationPage = parseInt('{{paginationPage}}')
            document.onreadystatechange = function(){
                if (document.readyState === 'interactive') {
                    onPageLoadPagination();
                    let all_total_money = document.getElementsByClassName('total__moeny__order__pending')

                    for (let index = 0; index < all_total_money.length; index++){
                        let each_total_money = parseInt(all_total_money[index].innerText, 10)
                        all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                    }
                }
            } 
        </script>
        <script src="{{ url_for('deliverySystem.static', filename = 'javascript/orderStatus.js')}}"></script>
        
        <table>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Name Product</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Note</th>
                <th>Update shipper</th>
            </tr>
            {% for index in all_order_pending %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>
                        <div class="show__code__order" data-content = '{{index[1]}}'>
                            <a href="{{url_for('searchOrderDSBP.searchOrderByCodeOrder', CurrentPage = 1, CodeOrder = index[1])}}">{{index[1]}}</a>
                        </div>
                    </td>
                    <td>
                        <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p><br>
                        <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p><br>
                        <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p><br>
                        <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p><br>
                        <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        {% for product in lstType[loop.index - 1] %}
                            <p>Product {{loop.index}} : {{product[2]}}</p>
                        {% endfor %}
                    </td>
                    <td>{{index[10]}}</td>
                    <td class="total__moeny__order__pending">{{index[8]}}</td>
                    <td>{{index[9]}}</td>
                    <td>
                        <select name="updateShipper{{loop.index - 1}}">
                            <option value="notValue">Choose Driver</option>
                            {% for driver in allDriver %}
                                <option value="{{driver[0]}},{{index[1]}},{{driver[1]}}">{{driver[1]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table><br>
        <table>
            <tr>
                <th>Total order</th>
                <th>Total cost</th>
                <th>Shipping Address</th>
                <th>Delivery Address</th>
            </tr>
            <tr>
                <td>{{all_order_pending|length}}</td>
                <td>{{sumMoneyOrder}}</td>
                <td>
                    {% for index in dictCountryShippingAddr %}
                        <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                    {% endfor %}
                </td>
                <td>
                    {% for index in dictCountryDeliveryAddr %}
                        <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </form>
{% endblock %}