{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/orderReturn.css' %}">
    <script src="{% static 'DS/javascript/orderStatus.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <div class="option__order__return__page">
        <p>Find {{len_all_order}} order return</p>
    </div>
    {% if all_order %}
        <table>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Name Product</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Note</th>
            </tr>
            {% for index in all_order %}
                <tr>
                    <td>{{foorloop.counter}}</td>
                <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                <a href="#">{{index.code_order_delivery}}</a></div></td>
                <td>
                    {% for sender in lstSender|get_list_item:forloop.counter0 %}
                        <p>Name : <span>{{sender.name}}</span></p>
                        <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                        <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                    {% endfor %}
                </td>
                <td>
                    {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                        <p>Name : <span>{{receiver.name}}</span></p>
                        <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                        <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                    {% endfor %}
                </td>
                <td>
                    {% for product in lstType|get_list_item:forloop.counter0 %}
                        <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                    {% endfor %}
                </td>
                <td>{{index.status_order}}</td>
                <td class="total__money__order">{{index.total_cost}}</td>
                <td>{{index.note}}</td>
                </tr>
            {% endfor %}
        </table><br>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range_pagination_page %}
                    {% if CurrentPage == page %}
                        <a href="{{ url_for('.orderReturnDS', CurrentPage = page) }}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.orderReturnDS', CurrentPage = page) }}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range_pagination_page %}
                    {% if CurrentPage == page %}
                        <a href="{{ url_for('.orderReturnDS', CurrentPage = page) }}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('.orderReturnDS', CurrentPage = page) }}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}