{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();

                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }s
            }
        } 
    </script>
    <link rel="stylesheet" href="{% static 'DS/css/order_delivery_success.css' %}">
    <script src="{% static 'DS/javascript/order_status.js' %}"></script>
    <div class="order__success__title">
        <p>{{len_all_order }} order success</p>
    </div>
    <br>
    <table>
        <tr>
            <th>No</th>
            <th>Code</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Product Name</th>
            <th>Status</th>
            <th>Total Cost</th>
            <th>Note</th>
            <th>Driver</th>
            <th>Image Success</th>
        </tr>
        {% for index in allOrderSuccess %}
            <tr>
                <td>{{foorloop.counter}}</td>
                <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                <a href="#">{{index[1]}}</a></div></td>
            
                <td>
                    <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                    <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                    <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                </td>
                <td>
                    <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                    <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                    <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                </td>
                <td>
                    {% for product in lstType[loop.index - 1] %}
                        <p>Product {{loop.index}} : {{product[2]}}</p>
                    {% endfor%}
                </td>
                <td>{{index[10]}}</td>
                <td class="total__money__order">{{index[8]}}</td>
                <td>{{index[9]}}</td>
                <td>{{lstDriver[loop.index - 1][4]}}</td>
                <td>
                    <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = index[1])}}">Watch Image</a>
                </td>
            </tr>
        {% endfor %}
    </table><br>
    <table>
        <tr>
            <th>Total Cost</th>
            <th>Total Money</th>
            <th>Driver</th>
            <th>Shipping Address</th>
            <th>Delivery Address</th>
        </tr>
        <tr>
            <td>{{allOrderSuccess|length}}</td>
            <td>{{sumMoneyOrder}}</td>
            <td>
                {% for driver in dictDriverTimes %}
                    <p>{{driver}} : {{dictDriverTimes[driver]}} order</p>
                {% endfor %}
            </td>
            <td>
                {% for index in dictCountryShippingAddr %}
                    <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                {% endfor %}
            </td>
            <td>
                {% for index in dictCountryDeliveryAddr %}
                    <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                {% endfor %}
            </td>
        </tr>
    </table>
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('.orderDeliverySuccessful', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('.orderDeliverySuccessful', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('.orderDeliverySuccessful', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else%}
                    <a href="{{ url_for('.orderDeliverySuccessful', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}