{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/order_in_pending.css' %}">

    {% if notificationMsg %}
        <div class="notification__success__update">
            {% for notification in notificationMsg %}
                <p>{{notification}}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="title__page__btn__update">
            <p>{{len_all_order}} order in pending:</p>
            <input type="submit" value="Update">
            {% comment %}<input type="submit" value="Auto Update Driver" name="autoUpdateDriver">{% endcomment %}
        </div>
        <script>
            var CurrentPage = parseInt('{{CurrentPage}}')
            var paginationPage = parseInt('{{paginationPage}}')
            document.onreadystatechange = function(){
                if (document.readyState === 'interactive') {
                    onPageLoadPagination();
                    let all_total_money = document.getElementsByClassName('total__moeny__order__pending')

                    for (let index = 0; index < all_total_money.length; index++){
                        let each_total_money = parseInt(all_total_money[index].innerText, 10)
                        all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                    }
                }
            } 
        </script>
        <script src="{% static 'DS/javascript/order_status.js' %}"></script>
        
        <table>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Name Product</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Note</th>
                <th>Update shipper</th>
            </tr>
            {% for index in all_order_pending %}
                <tr>
                    <td>{{foorloop.counter}}</td>
                    <td>
                        <div class="show__code__order" data-content = '{{index.code_order_delivery}}'>
                            <a href="#">{{index.code_order_delivery}}</a>
                        </div>
                    </td>
                    <td>
                        {% for sender in lstSender|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{sender.name}}</span></p>
                            <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                            <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{receiver.name}}</span></p>
                            <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                            <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for product in lstType|get_list_item:forloop.counter0 %}
                            <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                        {% endfor %}
                    </td>
                    <td>{{index.status_order}}</td>
                    <td class="total__money__order">{{index.total_cost}}</td>
                    <td>{{index.note}}</td>
                    <td>
                        <select name="updateShipper{{foorloop.counter0}}">
                            <option value="notValue">Choose Driver</option>
                            {% for driver in allDriver %}
                                <option value="">{{driver[1]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table><br>
        <table>
            <tr>
                <th>Total order</th>
                <th>Total cost</th>
                <th>Shipping Address</th>
                <th>Delivery Address</th>
            </tr>
            <tr>
                <td>{{all_order_pending|length}}</td>
                <td>{{sumMoneyOrder}}</td>
                <td>
                    {% for index in dictCountryShippingAddr %}
                        <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                    {% endfor %}
                </td>
                <td>
                    {% for index in dictCountryDeliveryAddr %}
                        <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% else%}
                        <a href="{{ url_for('.orderInPending', CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </form>
{% endblock %}