{% extends 'DS/base_ds.html' %}
{% load static %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/searchOrderDS.css' %}">
    <script src="{% static 'DS/javascript/searchOrderDS.js' %}"></script>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoad();
            }
        } 
    </script>
    <div class="btn__search__order__ds">
        <button onclick="searchByCodeOrder()">Search by order code</button>
        <button onclick="searchByDate()">Search by choose date</button>
        <button onclick="searchByMonth()">Search by choose month</button>
        <button onclick="searchByYear()">Search by choose year</button>
        <button onclick="searchByUser()">Search user</button>
    </div>
    <form method="post" class="form__input__search__order">
        {% csrf_token %}
        <div class="each___input__search input_search__code__order">
            <label>Input Order:</label>
            <input type="text" maxlength="45" name="inputSearchOrder" required>
            <input type="submit" value='Search' name="searchOrderDS" required>
        </div>
    </form>
    <form method="post" class="form__input__search__order">
        {% csrf_token %}
        <div class="each___input__search input__search__date">
            <label>Choose Date:</label>
            <input type="date" name="chooseDateSearch" required>
            <input type="submit" name="submitChooseDay" required>
        </div>
    </form>
    <form method="post" class="form__input__search__order">
        {% csrf_token %}
        <div class="each___input__search input__search__month"> 
            <label>Choose Month</label>
            <input type="month" name="chooseMonthSearch" required>
            <input type="submit" name="submitChooseMonth" required>
        </div>
    </form>
    <form method="post" class="form__input__search__order">
        {% csrf_token %}
        <div class="each___input__search input__search__year">
            <label>Choose Year</label>
            <input type="number" min="1900" max="2999" name="chooseYearSearch" required>
            <input type="submit" name="submitChooseYear" required>
        </div>
    </form>
    <form method="post" class="form__input__search__order">
        {% csrf_token %}
        <div class="each___input__search input__search__user__tel">
            <label>Input Telephone Number Sender</label>
            <input type="number" name="chooseUserSenderByTel" required>
            <label>Input Telephone Number Receiver</label>
            <input type="number" name="chooseUserReceiverByTel" required>
            <input type="submit" name="submitChooseUserTel" required>
        </div>
    </form>
{% endblock %}