{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/searchOrderbyCode.css')}}">
    <br>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <div>
        {% if msgNotification is defined %}
            <p id="update__fail__order__driver" class="notification__msg__search__order__code">{{msgNotification}}</p>
        {% endif %}
    </div>
    {% if searchOrderDS |length != 0 %}
    <div>
        <div>
            <form method="post">
                <label>Choose Option :</label>
                <select name="chooseOptionSearchOrderByCode">
                    <option value="deliveryFail">Delivery Fail Order</option>
                </select>
                <input type="submit" name="submitDeliveryFail">
            </form>
        </div>
    </div>
    {% endif %}
    {% if searchOrderDS is defined %}
        {% if searchOrderDS |length == 0 %}
            <p class="not__found__any__order__search__code__order">Not found any order</p>
        {% elif searchOrderDS|length == 1 %}
            <table>
                <tr>
                    <th>Code Order</th>
                    <th>Status</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Name Product</th>
                    <th>Total Cost</th>
                    <th>Image Get Product</th>
                    <th>Image In Delivery</th>
                    <th>Image Success</th>
                </tr>
                {% for index in searchOrderDS %}
                    <tr>
                        <td><div class="show__code__order" data-content="{{index[1]}}">
                            {{index[1]}}</div></td>
                        <td>{{index[10]}}</td>
                        <td>
                            <p>Name: {{sender[loop.index-1][2]}}</p>
                            <p>Telephone Number : {{sender[loop.index-1][3]}}</p>
                            <p>Address : {{sender[loop.index-1][6]}}, {{sender[loop.index-1][5]}}, {{sender[loop.index-1][4]}}, Việt Nam</p>
                        </td>
                        <td>
                            <p>Name: {{receiver[loop.index-1][2]}}</p>
                            <p>Telephone Number : {{receiver[loop.index-1][3]}}</p>
                            <p>Address : {{receiver[loop.index-1][6]}}, {{receiver[loop.index-1][5]}}, {{receiver[loop.index-1][4]}}, Việt Nam</p>
                        </td>
                        <td>
                            {% for product in productLst[loop.index-1] %}
                                <p>Product {{loop.index}} : {{product[2]}}</p>
                            {% endfor %}
                        </td>
                        <td class="total__money__order">{{index[8]}}</td>
                        <td>
                            {% if index[10] == 'Delivery' or index[10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseDSBP.showImageGetProduct', codeOrder = index[1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if index[10] == 'Delivery' or index[10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseDSBP.showImageInDelivery', codeOrder = index[1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if index[10] == 'Success' %}
                                <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = index[1])}}">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Match many code order. Please give this error to admin for more support</p>
        {% endif %}
    {% endif %}
{% endblock %}