{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/searchOrderbyCode.css' %}">
    <br>
    <script>
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <div>
        {% if msgNotification %}
            <p id="update__fail__order__driver" class="notification__msg__search__order__code">{{msgNotification}}</p>
        {% endif %}
    </div>
    
    {% if searchOrderDS|length != 0 %}
    <div>
        <div>
            <form method="post">
                {% csrf_token %}
                <label>Choose Option :</label>
                <select name="chooseOptionSearchOrderByCode">
                    <option value="deliveryFail">Delivery Fail Order</option>
                </select>
                <input type="submit" name="submitDeliveryFail">
            </form>
        </div>
    </div>
    {% endif %}
    {% if searchOrderDS %}
        {% if searchOrderDS|length == 0 %}
            <p class="not__found__any__order__search__code__order">Not found any order</p>
        {% elif searchOrderDS|length == 1 %}
            <table>
                <tr>
                    <th>Code Order</th>
                    <th>Status</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Name Product</th>
                    <th>Total Cost</th>
                    <th>Image Get Product</th>
                    <th>Image In Delivery</th>
                    <th>Image Success</th>
                </tr>
                {% for index in searchOrderDS %}
                    <tr>
                        <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                            {{index.code_order_delivery}}</div></td>
                        <td>{{index.status_order}}</td>
                        <td>
                            {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                <p>Name : <span>{{sender.name}}</span></p>
                                <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                <p>Name : <span>{{receiver.name}}</span></p>
                                <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for product in lstType|get_list_item:forloop.counter0 %}
                                <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                            {% endfor %}
                        </td>
                        <td class="total__money__order">{{index.total_cost}}</td>
                        <td>
                            {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                                <a href="#">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                                <a href="#">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if index.status_order == 'Success' %}
                                <a href="#">Watch Image</a>
                            {% else %}
                                <p>None</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Match many code order. Please give this error to admin for more support</p>
        {% endif %}
    {% endif %}
{% endblock %}