{% extends 'baseDeliverySystem.html' %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/searchOrderDS.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/searchOrderDSFilter.css')}}">
    <script src="{{url_for('.static', filename = 'javascript/searchOrderDS.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    {% if lstOrder|length != 0 %}
        <div class="option__content__page__search_order__filter">
            {% if dayValue is defined %}
                <p>Found {{len_all_order}} order in {{dayValue}}</p>
            {% elif monthValue is defined %}
                <p>Found {{len_all_order}} order in {{monthValue}}</p>
            {% elif yearValue is defined %}
                <p>Found {{len_all_order}} order in {{yearValue}}</p>
            {% elif telSender is defined and telReceiver is defined %}
                <p>Found {{len_all_order}} order</p>
            {% endif %}
        </div>
    {% endif %}
    <div class="show__order__filter__day">
        {% if lstOrder|length == 0 %}
            <p class="not__found__any__order__search__order__filter">Not found any order</p>
        {% else %}
            {% if lstOrder is defined %}<br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                        <th>Image Get Product</th>
                        <th>Image In Delivery</th>
                        <th>Image Success</th>
                    </tr>
                    {% for index in lstOrder %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><div class="show__code__order" data-content="{{index[1]}}">
                                <a href="{{url_for('searchOrderDSBP.searchOrderByCodeOrder', CurrentPage = 1, CodeOrder = index[1])}}">{{index[1]}}</a></div></td>
                            
                            <td>
                                <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                {% for product in lstProduct[loop.index - 1] %}
                                    <p>Product {{loop.index}} : {{product[2]}}</p>
                                {% endfor %}
                            </td>
                            <td>{{index[10]}}</td>
                            <td class="total__money__order">{{index[8]}}</td>
                            <td>{{index[9]}}</td>
                            <td>
                                {% if index[10] == 'Delivery' or index[10] == 'Success' %}
                                    <a href="{{url_for('showImageFirebaseDSBP.showImageGetProduct', codeOrder = index[1])}}">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if index[10] == 'Delivery' or index[10] == 'Success' %}
                                    <a href="{{url_for('showImageFirebaseDSBP.showImageInDelivery', codeOrder = index[1])}}">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if index[10] == 'Success' %}
                                    <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = index[1])}}">Watch Image</a>
                                {% else %}
                                    <p>None</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    {% if dayValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif monthValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif telSender is defined and telReceiver is defined %}
                        <a href="{{ url_for('.searchOrderDSByTel', CurrentPage = page + 1, telSender = telSender, telReceiver = telReceiver) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% else %}
                    {% if dayValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif monthValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif telSender is defined and telReceiver is defined %}
                        <a href="{{ url_for('.searchOrderDSByTel', CurrentPage = page + 1, telSender = telSender, telReceiver = telReceiver) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                    
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    {% if dayValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif monthValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif telSender is defined and telReceiver is defined %}
                        <a href="{{ url_for('.searchOrderDSByTel', CurrentPage = page + 1, telSender = telSender, telReceiver = telReceiver) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}

                {% else%}
                    {% if dayValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif monthValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.searchOrderDSByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif telSender is defined and telReceiver is defined %}
                        <a href="{{ url_for('.searchOrderDSByTel', CurrentPage = page + 1, telSender = telSender, telReceiver = telReceiver) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}