{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <script src="{% static 'DS/javascript/order_status.js' }"></script>
    <script src="{% static 'DS/javascript/searchOrderDSAll.js' }"></script>
    <link rel="stylesheet" href="{% static 'DS/css/searchOrderDSAll.css' %}">
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>

    <div class="option__content__order__search">
        <div>
            <p>Show all order</p>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <label>Choose Type : </label>
                <select name="chooseTypeSearch" onchange="changeTypeSearchOrder()" class="select__type__search">
                    <option value="all">All Order</option>
                    <option value="code">Code Order</option>
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="tel">Telephone</option>
                </select>
                <input type="text" name="chooseCodeOrder" class="each__kind__type choose__code__order">
                <input type="date" name="chooseDateTime" class="each__kind__type choose__date__time">
                <input type="month" name="chooseMonthTime" class="each__kind__type choose__month__time">
                <input type="number" max="2999" min="1900" name="chooseYearTime" class="each__kind__type choose__year__time">
                <div class="each__kind__type choose__tel__type">
                    <div>
                        <label>Telephone Number Sender : </label>
                        <input type="number" name="chooseUserSenderByTel">
                    </div>
                    <div>
                        <label>Telephone Number Receiver : </label>
                        <input type="number" name="chooseUserReceiverByTel">
                    </div>
                </div>
                <input type="submit" name="submitChooseType" class="submit__kind__type">
            </form>
        </div>
    </div>
    <br>
    <table>
        <tr>
            <th>No</th>
            <th>Code Order</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>All Product Name</th>
            <th>Total Cost</th>
            <th>Time Arrive</th>
            <th>Image Get Product</th>
            <th>Image In Delivery</th>
            <th>Image Success</th>
        </tr>
        {% for index in all_order %}
            <tr>
                <td>{{foorloop.counter}}</td>
                <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                <a href="#">{{index.code_order_delivery}}</a></div></td>
                <td>
                    {% for sender in lstSender|get_list_item:forloop.counter0 %}
                        <p>Name : <span>{{sender.name}}</span></p>
                        <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                        <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                    {% endfor %}
                </td>
                <td>
                    {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                        <p>Name : <span>{{receiver.name}}</span></p>
                        <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                        <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                    {% endfor %}
                </td>
                <td>
                    {% for product in lstProduct|get_list_item:forloop.counter0 %}
                        <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                    {% endfor %}
                </td>
                <td class="total__money__order">{{index.total_cost}} vnđ</td>
                <td>
                    {% if index.status_order == 'Success' %}
                        {{index.real_time_arrive}}
                    {% else %}
                        <p>Not Finish</p>
                    {% endif %}
                </td>
                <td>
                    {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                        <a href="#">Watch Image</a>
                    {% else %}
                        <p>Not Image</p>
                    {% endif %}
                </td>
                <td>
                    {% if index.status_order == 'Delivery' or index.status_order == 'Success' %}
                        <a href="#">Watch Image</a>
                    {% else %}
                        <p>Not Image</p>
                    {% endif %}
                </td>
                <td>
                    {% if index.status_order == 'Success' %}
                        <a href="#">Watch Image</a>
                    {% else %}
                        <p>Not Image</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('searchOrderDSBP.searchOrderDSAll', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('searchOrderDSBP.searchOrderDSAll', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('searchOrderDSBP.searchOrderDSAll', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else%}
                    <a href="{{ url_for('searchOrderDSBP.searchOrderDSAll', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}