{% extends 'DS/base_ds.html' %}
{% load static %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/static_ds.css' %}">
    <script src="{% static 'DS/javascript/static_ds.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <script src="{% static 'DS/javascript/static_ds_driver.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DS/css/static_ds_driver.css' %}">
    <div class="option__static__ds__driver">
        <div>
            <p>Static Driver</p>
        </div>
        <div>
            <form method="post" class="form__submit__static__driver">
                {% csrf_token %}
                <div class = 'choose__driver__static'>
                    <label>Choose Driver : </label>
                    <select name="chooseDriverStatic">
                        {% for driver in get_all_driver %}
                            <option value="{{driver.id}},{{driver.full_name_driver}}">{{driver.full_name_driver}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Choose Time</label>
                    <select name="chooseKindTime" onchange="changeKindTime()" class="choose__kind__time__select">
                        <option value="all">All Time</option>
                        <option value="date">Day</option>
                    </select>
                </div>
                <div class="choose__kind__time__day">
                    <input type="date" name='chooseTimeDate' class="input__kind__time__date">
                </div>
                <input type="submit" name="submitChooseKindTime">
            </form>
        </div>
    </div>
    {% if allOrderByDriver %}
        {% if allOrderByDriver|length == 0 %}
            <p class="show__result__static__driver">Not found any order</p>
        {% else %}
            <p class="show__result__static__driver">Result all order success by driver {{driver_name}}. Found {{len_all_order}} order.</p>
            <table>
                <tr>
                    <th>No</th>
                    <th>Code Order</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Total Cost</th>
                    <th>Time Arrive</th>
                    <th>Product Name</th>
                    <th>Image Success</th>
                </tr>
                {% for order in allOrderByDriver %}
                    <tr>
                        <td>{{foorloop.counter}}</td>
                        <td><div class="show__code__order" data-content="{{order.code_order_delivery}}">
                            <a href="#">{{order.code_order_delivery}}</a></div></td>
                        <td>
                            {% for sender in lstSender|get_list_item:forloop.counter0 %}
                                <p>Name : <span>{{sender.name}}</span></p>
                                <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                                <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                                <p>Name : <span>{{receiver.name}}</span></p>
                                <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                                <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                            {% endfor %}
                        </td>
                        <td class="total__money__order">{{order.total_cost}}</td>
                        <td>{{order.real_time_arrive}}</td>
                        <td>
                            {% for product in lstProduct|get_list_item:forloop.counter0 %}
                                <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="#">Watch Image</a>
                        </td>
                    </tr>
                {% endfor %}
            </table><br>
            {% comment %}
            <table>
                <tr>
                    <th>Total order</th>
                    <th>Total cost</th>
                    <th>Shipping Address</th>
                    <th>Delivery Address</th>
                </tr>
                <tr>
                    <td>{{allOrderByDriver|length}}</td>
                    <td>{{sumMoneyOrder}}</td>
                    <td>
                        {% for index in dictCountryShippingAddr %}
                            <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for index in dictCountryDeliveryAddr %}
                            <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            {% endcomment %}
            <div class="pagination__page">
                {% if paginationPage > 5%}
                    <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                    <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                    {% for page in range_pagination_page %}
                        {% if CurrentPage == page %}
                            <a href="{% url 'DS_app:DS_static_order_by_driver' dateSearch idDriver CurrentPage %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                            </a>
                        {% else %}
                            <a href="{% url 'DS_app:DS_static_order_by_driver' dateSearch idDriver CurrentPage %}">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                    <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                {% else %}
                    {% for page in range_pagination_page %}
                        {% if CurrentPage == page + 1 %}
                            <a href="{% url 'DS_app:DS_static_order_by_driver' dateSearch idDriver CurrentPage %}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination  active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% else%}
                            <a href="{% url 'DS_app:DS_static_order_by_driver' dateSearch idDriver CurrentPage %}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}