{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <script src="{{url_for('.static', filename='javascript/staticDS.js')}}"></script>
    <script src="{% static 'DS/javascript/static_ds.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/staticDS.css')}}">

        {#<script>
            document.getElementsByClassName('static__by__day')[0].style.display = 'block';
        </script>#}

        <i>Result:</i>
        {% if allOrder|length != 0 %}
            <div class="static__ds__filter">
                {% if dateValue is defined %}
                    <p>Found {{len_all_order}} order in {{dateValue}}</p>
                {% elif monthValue is defined %}
                    <p>Found {{len_all_order}} order in {{monthValue}}</p>
                {% elif yearValue is defined %}
                    <p>Found {{len_all_order}} order in {{yearValue}}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if allOrder|length == 0 %}
            <p class="static__ds__time__zero__order">Sorry ! we can find any order. Please check time again</p>
        {% else %}
        <table>
            <tr>
                <th>No</th>
                <th>Code Order</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Total Cost</th>
                <th>Time Arrive</th>
                <th>Product Name</th>
                <th>Image Success</th>
            </tr>
            {% for order in allOrder %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><div class="show__code__order" data-content="{{order[1]}}">
                        <a href="{{url_for('searchOrderDSBP.searchOrderByCodeOrder', CurrentPage = 1, CodeOrder = order[1])}}">{{order[1]}}</a>
                    </div></td>
                    <td>
                        <p>Name : {{lstSender[loop.index -1][2]}}</p>
                        <p>Telephone Number : {{lstSender[loop.index -1][3]}}</p>
                        <p>Address: <span>{{lstSender[loop.index -1][4]}}</span>, <span>{{lstSender[loop.index -1][5]}}</span>, <span>{{lstSender[loop.index -1][6]}}</span></p>
                    </td>
                    <td>
                        <p>Name : {{lstReceiver[loop.index -1][2]}}</p>
                        <p>Telephone Number : {{lstReceiver[loop.index -1][3]}}</p>
                        <p>Address: <span>{{lstReceiver[loop.index -1][4]}}</span>, <span>{{lstReceiver[loop.index -1][5]}}</span>, <span>{{lstReceiver[loop.index -1][6]}}</span></p>
                    </td>
                    <td class="total__money__order">{{order[8]}}</td>
                    <td>{{order[12]}}</td>
                    <td>
                        {% for product in lstType[loop.index - 1] %}
                            <p>Product {{loop.index}}: {{ product[2] }}</p>
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = order[1])}}">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table><br>
        {% if sumMoneyOrder is defined %}
            <table>
                <tr>
                    <th>Total order</th>
                    <th>Total cost</th>
                    <th>Shipping Address</th>
                    <th>Delivery Address</th>
                </tr>
                <tr>
                    <td>{{allOrderStaticDate|length}}</td>
                    <td>{{sumMoneyOrder}}</td>
                    <td>
                        {% for index in dictCountryShippingAddr %}
                            <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for index in dictCountryDeliveryAddr %}
                            <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        {% endif %}
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        {% if dateValue is defined %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% else %}
                        {% if dateValue is defined %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        {% if dateValue is defined %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}

                    {% else%}
                        {% if dateValue is defined %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
{% endblock %}