{% extends 'DS/base_ds.html' %}
{% load static %}

{% block contentPageDeliverySystem %}
    <link rel="stylesheet" href="{% static 'DS/css/static_ds.css' %}">
    <script src="{% static 'DS/javascript/static_ds.js' %}"></script>

    <div class="choose__option__static">
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('status')">Static By Status Order</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('driver')">Static By Driver Name</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('day')">Static By Given Day</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('month')">Static By Given Month</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('year')">Static By Given Year</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('moneyOneDay')">Total money all 1 day</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('moneyOneMonth')">Total money all 1 month</button>
        <button class="btn__choose__option__static" onclick="MakeSomeDivShow('moneyOneYear')">Total money all 1 year</button>
    </div>
    <p> ( Note : All order in static are success order, if you want load more order like order with in delivery, please choose search oder page)</p>
    <br>
    <div class="each__get__static make__static__csv">
        <form method="post">
            {% csrf_token %}
            <div>
                {% comment %}<label>1: Download csv file</label>{% endcomment %}
                <input type="submit" value="Get CSV File" name="getExcelFile" required>
            </div>
        </form>
    </div>
    <div class="each__get__static static__by__status">
        <div>
            <form method='post'>
                {% csrf_token %}
                {% comment %}<span>2: Static by status</span>{% endcomment %}
                <input type="submit" value = "Find" name="staticOrderByStatus" required>
            </form>
            {% if pieChart is defined %}
                <script>
                    document.getElementsByClassName('static__by__status')[0].style.display = 'block'
                </script>
                <img src="data:image/png;base64, {{ pieChart }}" alt="pie chart">
                <form method="post">
                    <input type="submit" value="Show Order Delivery" name="showOrderDelivery" required>
                    <input type="submit" value="Show Order Pending" name="showOrderPending" required>
                    <input type="submit" value="Show Order Need Delivery" name="showOrderNeedDelivery" required>
                    <input type="submit" value="Show Order Success" name="showOrderSuccess" required>
                </form>
            {% endif %}
        </div>
    </div>
    <div class = "each__get__static static__by__driver">
        {#<p>3: Static for each driver</p>#}
        <form method="post">
            <span>Choose Name Driver : </span>
            <select name="chooseIDDriver">
                {% for driver in allDriverDS %}
                    <option value="{{driver[0]}}">{{ driver[4] }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Choose Date:</label>
            <input type="date" name="chooseDateForEachDriver" id="input__date__search__driver" required>
            <input type="submit" value="Find" name="staticForEachDriver" required>
        </form>
        
    </div>
    <div class="each__get__static static__by__day">
        {#<p>4: Static by date</p>#}
        <form method="post">
            <label>Choose Date : </label>
            <input type='date' name="chooseDateForStatic" required>
            <input type="submit" value = "Find" name="staticByDate" required>
        </form>
    </div>
    <div class="each__get__static static__by__month">
        {#<p>5. Static by month</p>#}
        <form method="post">
            <label>Choose Month :</label>
            <input type="month" name="chooseMonthStaticMonth" required>
            <input type ='submit' value="Find" name="staticByMonth" required>
        </form>
        
    </div>
    <div class="each__get__static static__by__year">
        <form method = 'post'>
            {#<label>6. Choose year: </label>#}
            <label>Choose year: </label>
            <input type="number" min="1900"  max="2999" name="chooseYearStaticYear" placeholder="Year" required>
            <input type='submit' name="staticByYear" value="Find">
        </form>
    </div>
    <div class="each__get__static static__by__total__money__one__day">
        <form method='post'>
            <label>Choose Date</label>
            <input type="date" name="inputDateAllMoney" required>
            <input type="submit" name="submitDateAllMoney" required>
        </form>
    </div>
    <div class="each__get__static static__by__total__money__one__month">
        <form method='post'>
            <label>Choose Month</label>
            <input type="month" name="inputMonthAllMoney" required>
            <input type="submit" name="submitMonthAllMoney" required>
        </form>
    </div>
    <div class="each__get__static static__by__total__money__one__year">
        <form method='post'>
            <label>Choose Year</label>
            <input type="number" min="1900" max="2999" name="inputYearAllMoney" required>
            <input type="submit" name="submitYearAllMoney" required>
        </form>
    </div>
{% endblock %}