{% extends 'DS/base_ds.html' %}
{% load static %}
{% load custom_filters_ds %}

{% block contentPageDeliverySystem %}
    <script src="{% static 'DS/javascript/static_ds.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <link rel="stylesheet" href="{% static 'DS/css/static_ds.css' %}">
        <i>Result:</i>
        {% if allOrder|length != 0 %}
            <div class="static__ds__filter">
                {% if dateValue %}
                    <p>Found {{len_all_order}} order in {{dateValue}}</p>
                {% elif monthValue  %}
                    <p>Found {{len_all_order}} order in {{monthValue}}</p>
                {% elif yearValue  %}
                    <p>Found {{len_all_order}} order in {{yearValue}}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if allOrder|length == 0 %}
            <p class="static__ds__time__zero__order">Sorry ! we can find any order. Please check time again</p>
        {% else %}
        <table>
            <tr>
                <th>No</th>
                <th>Code Order</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Total Cost</th>
                <th>Time Arrive</th>
                <th>Product Name</th>
                <th>Image Success</th>
            </tr>
            {% for order in allOrder %}
                <tr>
                    <td>{{foorloop.counter}}</td>
                    <td><div class="show__code__order" data-content="{{order.code_order_delivery}}">
                        <a href="#">{{order.code_order_delivery}}</a></div></td>
                    <td>
                        {% for sender in lstSender|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{sender.name}}</span></p>
                            <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                            <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{receiver.name}}</span></p>
                            <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                            <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td class="total__money__order">{{order.total_cost}}</td>
                    <td>{{order.real_time_arrive}}</td>
                    <td>
                        {% for product in lstType|get_list_item:forloop.counter0 %}
                            <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="#">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table><br>
        {% comment %}
        {% if sumMoneyOrder  %}
            <table>
                <tr>
                    <th>Total order</th>
                    <th>Total cost</th>
                    <th>Shipping Address</th>
                    <th>Delivery Address</th>
                </tr>
                <tr>
                    <td>{{allOrderStaticDate|length}}</td>
                    <td>{{sumMoneyOrder}}</td>
                    <td>
                        {% for index in dictCountryShippingAddr %}
                            <p>{{index}} : {{dictCountryShippingAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for index in dictCountryDeliveryAddr %}
                            <p>{{index}} : {{dictCountryDeliveryAddr[index]}} order</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>{% endcomment %}
        {% endif %}
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range_pagination_page %}
                    {% if CurrentPage == page %}
                        {% if dateValue  %}
                            <!-- TODO code more here -->
                            <a href="#">
                                <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                            </a>
                        {% elif monthValue  %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue  %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% else %}
                        {% if dateValue  %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue  %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue  %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        {% if dateValue  %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue  %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue  %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}

                    {% else%}
                        {% if dateValue  %}
                            <a href="{{ url_for('.getStaticDSDate', CurrentPage = page + 1, dateValue = dateValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue  %}
                            <a href="{{ url_for('.getStaticDSMonth', CurrentPage = page + 1, monthValue = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue  %}
                            <a href="{{ url_for('.getStaticDSYear', CurrentPage = page + 1, yearValue = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
{% endblock %}