{% extends 'DS/base_ds.html' %}
{% load static %}

{% block contentPageDeliverySystem %}
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <link rel="stylesheet" href="{% static 'DS/css/static_ds.css' %}">
    <script src="{% static 'DS/javascript/static_ds.js' %}"></script>
    <div class="show__total__money">
        {% if total_money == 0 %}
            <p>Chưa có thu nhập</p>
        {% else %}
            {% if monthValue is defined %}
                <p>Tổng tiền tháng {{monthValue}} là : {{total_money}} vnđ</p>
            {% elif dayValue is defined %}
                <p>Tổng tiền ngày {{dayValue}} là : {{total_money}} vnđ</p>
            {% elif yearValue is defined %}
                <p>Tổng tiền năm {{yearValue}} là : {{total_money}} vnđ</p>
            {% endif %}
        {% endif %}
    </div>
    <br>
    {% if all_order|length == 0 %}
        <p id="not__found__any__order">Not found any order</p>
    {% else %}
        <table>
            <tr>
                <th>No</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Product Name</th>
                <th>Status</th>
                <th>Total Cost</th>
                <th>Note</th>
                <th>Driver</th>
                <th>Image Success</th>
            </tr>
            {% for index in all_order %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></td>
                    <td>
                        <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                        <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                        <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                        <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                        <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                    </td>
                    <td>
                        {% for product in lstProduct[loop.index - 1] %}
                            <p>Product {{loop.index}} : {{product[2]}}</p>
                        {% endfor%}
                    </td>
                    <td>{{index[10]}}</td>
                    <td class="total__money__order">{{index[8]}}</td>
                    <td>{{index[9]}}</td>
                    <td>{{lstDriver[loop.index - 1][4]}}</td>
                    <td>
                        <a href="{{url_for('showImageFirebaseDSBP.showImageOrderSuccess', codeOrder = index[1])}}">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    {% if monthValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneMonth', monthValue = monthValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif dayValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneDay', dayValue = dayValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneYear', yearValue = yearValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% else %}
                    {% if monthValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneMonth', monthValue = monthValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif dayValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneDay', dayValue = dayValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneYear', yearValue = yearValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    {% if monthValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneMonth', monthValue = monthValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif dayValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneDay', dayValue = dayValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneYear', yearValue = yearValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% else%}
                    {% if monthValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneMonth', monthValue = monthValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif dayValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneDay', dayValue = dayValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% elif yearValue is defined %}
                        <a href="{{ url_for('.totalMoneyOneYear', yearValue = yearValue, CurrentPage = page + 1) }}">
                            <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}