{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href=" {{ url_for('autoUpdateRouteBp.static', filename = 'css/autoUpdateRoute.css')}}">
    <table>
        <tr>
            <th>Step</th>
            <th>From:</th>
            <th>To:</th>
        </tr>
        {% for index in range(0, shortestRouteStr|length) %}
            {% if index == 0 %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>Store</td>
                    <td>{{shortestRouteStr[index]}}</td>
                </tr>
            {% elif index == (shortestRouteStr|length - 1) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{shortestRouteStr[index]}}</td>
                    <td>Store</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{shortestRouteStr[index - 1]}}</td>
                    <td>{{shortestRouteStr[index]}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>

    <div class="link__option">
        <a href=" {{ url_for('driverPage.orderNeedTransmit', CurrentPage = 1) }} ">Comeback to previous page</a>
        <a href=" {{ url_for('driverPage.updateStatusDelivery') }} ">Delivery All Order Need Delivery</a>
        <form method="post">
            <input type="submit" name="seeMap" value = 'See maps' required>
        </form>
    </div>
    
{% endblock %}