{% extends 'Driver/baseDriverPage.html' %}
{% load static %}
{% load custom_filters_driver %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{% static 'Driver/css/orderReturnDriver.css' %}">
    <script src="{% static 'Driver/javascript/orderDelivery.js' %}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>

    <div class="title__content__page">
        <p>Found {{len_all_order}} order return.</p>
    </div>
    {% if all_order|length == 0 %}
        <p>Not found nay order</p>
    {% else %}
        <table>
            <tr>
                <th>No.</th>
                <th>Code</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Name Product</th>
                <th>Status</th>
                <th>Total cost</th>
                <th>Note</th>
                <th>Date Create</th>
                <th>Image Get Product</th>
                <th>Image In Delivery</th>
            </tr>
            {% for index in all_order %}
                <tr>
                    <td>{{foorloop.counter}}</td>
                    <td><div class="show__code__order" data-content="{{index.code_order_delivery}}">
                    <a href="#">{{index.code_order_delivery}}</a></div></td>
                    <td>
                        {% for sender in lstSender|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{sender.name}}</span></p>
                            <p>Telephone number : <span>{{sender.tel_num}}</span></p>
                            <p>Address : <span>{{sender.ward}}, {{sender.district}}, {{sender.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for receiver in lstReceiver|get_list_item:forloop.counter0 %}
                            <p>Name : <span>{{receiver.name}}</span></p>
                            <p>Telephone number : <span>{{receiver.tel_num}}</span></p>
                            <p>Address : <span>{{receiver.ward}}, {{receiver.district}}, {{receiver.province}}</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for product in lstType|get_list_item:forloop.counter0 %}
                            <p>Product {{forloop.counter}} : {{product.name_product}}</p>
                        {% endfor %}
                    </td>
                    <td>{{index.status_order}}</td>
                    <td class="total__money__order">{{index.total_cost}}</td>
                    <td>{{index.note}}</td>
                    <td>{{index.date_create}}</td>
                    <td>
                        <a href="#">Watch Image</a>
                    </td>
                    <td>
                        <a href="#">Watch Image</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range_pagination_page %}
                    {% if CurrentPage == page %}
                        <a href="{% url 'Driver_app:Driver_order_return' page %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% else %}
                        <a href="{% url 'Driver_app:Driver_order_return' page %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range_pagination_page %}
                    {% if CurrentPage == page %}
                        <a href="{% url 'Driver_app:Driver_order_return' page %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination active__btn__pagination">{{page}}</button>
                        </a>
                    {% else%}
                        <a href="{% url 'Driver_app:Driver_order_return' page %}">
                            <button id="btn__page__pagination__page{{page}}" class="btn__pagination">{{page}}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}