{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    {% if lstOrder is defined %}
        <link rel="stylesheet" href="{{url_for('.static', filename = 'css/searchOrderByFiter.css')}}">
        <script src="{{url_for('.static', filename = 'javascript/searchOrderByFiter.js')}}"></script>
        <script>
            var CurrentPage = parseInt('{{CurrentPage}}')
            var paginationPage = parseInt('{{paginationPage}}')
            document.onreadystatechange = function(){
                if (document.readyState === 'interactive') {
                    onPageLoadPagination();
                    let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
                }
            } 
        </script>
        <br><br>
        <div class="show__order__filter__day">
            {% if lstOrder|length == 0 %}
                <p>Not found any order</p>
            {% else %}
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                    </tr>
                    {% for index in lstOrder %}
                        <tr>
                            <th>{{loop.index}}</th>
                            <th><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></th>
                            <th>
                                <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                            </th>
                            <th>
                                <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                            </th>
                            <th>
                                {% for product in lstProduct[loop.index - 1] %}
                                    <p>Product {{loop.index}} : {{product[2]}}</p>
                                {% endfor %}
                            </th>
                            <th>{{index[10]}}</th>
                            <th class="total__money__order">{{index[8]}}</th>
                            <th>{{index[9]}}</th>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="pagination__page">
            {% if paginationPage > 5%}
                <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        {% if dayValue is defined %}
                            <a href="{{ url_for('.searchOrderByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.searchOrderByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.searchOrderByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif telNum is defined %}
                            <a href="{{ url_for('.searchOrderByTel', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if dayValue is defined %}
                            <a href="{{ url_for('.searchOrderByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.searchOrderByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.searchOrderByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif telNum is defined %}
                            <a href="{{ url_for('.searchOrderByTel', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
            {% else %}
                {% for page in range(0, paginationPage) %}
                    {% if CurrentPage == page + 1 %}
                        {% if dayValue is defined %}
                            <a href="{{ url_for('.searchOrderByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.searchOrderByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.searchOrderByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif telNum is defined %}
                            <a href="{{ url_for('.searchOrderByTel', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% else%}
                        {% if dayValue is defined %}
                            <a href="{{ url_for('.searchOrderByDay', CurrentPage = page + 1, chooseDate = dayValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif monthValue is defined %}
                            <a href="{{ url_for('.searchOrderByMonth', CurrentPage = page + 1, chooseMonth = monthValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif yearValue is defined %}
                            <a href="{{ url_for('.searchOrderByYear', CurrentPage = page + 1, chooseYear = yearValue) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% elif telNum is defined %}
                            <a href="{{ url_for('.searchOrderByTel', CurrentPage = page + 1, telNum = telNum) }}">
                                <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}