{% if imageShow is defined %}
    <img src="data:image/jpeg;base64,{{imageShow}}" alt="Image" width="500px">
{% elif errorShowImage is defined %}
    <p>{{errorShowImage}}</p>
{% else %}
    <p>Maybe, you don't give code Order success</p>
{% endif %}