{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/staticRevenueDriverTime.css')}}">
    <script src="{{url_for('.static', filename = 'javascript/staticRevenueDriverTime.js')}}"></script>
    <script src="{{url_for('.static', filename = 'javascript/searchOrderByFiter.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <div class="option__static__all__order">
        <div>
            <p>Static Order By Revenue. Find {{len_all_order}} order and all revenue is {{all_revenue}} vnđ</p>
        </div>
        <form method ='post'>
            <label>Choose Time:</label>
            <select name="chooseTypeStatic" class="choose__type__static" onchange="changeType()">
                <option value="all">All</option>
                <option value ='day'>Day</option>
                <option value ='month'>Month</option>
                <option value ='year'>Year</option>
            </select>
            <input type="date" name="inputDate" class="input__date each__input">
            <input type="month" name="inputMonth" class="input__month each__input">
            <input type="number" max="2999" min="1900" name="inputYear" class="input__year each__input">
            <input type="submit" name="submitInputType">
        </form>
    </div>
    <div class="show__order__static__revenue">
        {% if all_order|length == 0 %}
            <p>Not found any order</p>
        {% else %}
            <table>
                <tr>
                    <th>No</th>
                    <th>Code Order</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Name Product</th>
                    <th>Status</th>
                    <th>Total Cost</th>
                    <th>Note</th>
                </tr>
                {% for index in all_order %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></td>
                        <td>
                            <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                            <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                            <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                        </td>
                        <td>
                            <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                            <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                            <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                        </td>
                        <td>
                            {% for product in lstProduct[loop.index - 1] %}
                                <p>Product {{loop.index}} : {{product[2]}}</p>
                            {% endfor %}
                        </td>
                        <td>{{index[10]}}</td>
                        <td class="total__money__order">{{index[8]}}</td>
                        <td>{{index[9]}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <div class="pagination__page">
        {% if paginationPage > 5%}
            <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
            <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('.staticRevenueDriverTime', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('.staticRevenueDriverTime', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
            <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
            <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
        {% else %}
            {% for page in range(0, paginationPage) %}
                {% if CurrentPage == page + 1 %}
                    <a href="{{ url_for('.staticRevenueDriverTime', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                    </a>
                {% else%}
                    <a href="{{ url_for('.staticRevenueDriverTime', CurrentPage = page + 1) }}">
                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}