{% extends 'baseDriverPage.html' %}

{% block baseDriverHomepage %}
{% endblock %}

{% block functionDriverPage %}
    <link rel="stylesheet" href="{{url_for('staticOrderDriverBp.static', filename = 'css/staticRevenueDriver.css')}}">
    <script src="{{url_for('staticOrderDriverBp.static', filename = 'javascript/staticRevenueDriver.js')}}"></script>
    <script>
        var CurrentPage = parseInt('{{CurrentPage}}')
        var paginationPage = parseInt('{{paginationPage}}')
        document.onreadystatechange = function(){
            if (document.readyState === 'interactive') {
                onPageLoadPagination();
                let all_total_money = document.getElementsByClassName('total__money__order')

                for (let index = 0; index < all_total_money.length; index++){
                    let each_total_money = parseInt(all_total_money[index].innerText, 10)
                    all_total_money[index].innerText = each_total_money.toLocaleString('en-US')
                }
            }
        } 
    </script>
    <div class="title__form__content__revenue__driver">
        {% if total_revenue is defined %}
            {% if chooseYear is defined %}
                <p>Total Revenue in {{chooseYear}} is : {{total_revenue}} vnđ</p>
            {% elif chooseMonth is defined %}
                <p>Total Revenue in {{chooseMonth}} is : {{total_revenue}} vnđ</p>
            {% elif chooseDate is defined %}
                <p>Total Revenue in {{chooseDate}} is : {{total_revenue}} vnđ</p>
            {% endif %}
            
        {% else %}
            <p></p>
        {% endif %}
    </div>
    {% if all_order is defined %}
        <div class="total__revenue__order__inner">
            {% if all_order|length == 0 %}
                <p>Not found any order</p>
            {% else %}
                <table>
                    <tr>
                        <th>No</th>
                        <th>Code Order</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Name Product</th>
                        <th>Status</th>
                        <th>Total Cost</th>
                        <th>Note</th>
                    </tr>
                    {% for index in all_order %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><div class="show__code__order" data-content="{{index[1]}}">{{index[1]}}</div></td>
                            <td>
                                <p>Name : <span>{{lstSender[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstSender[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstSender[loop.index-1][4]}}, {{lstSender[loop.index-1][5]}}, {{lstSender[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                <p>Name : <span>{{lstReceiver[loop.index-1][2]}}</span></p>
                                <p>Telephone number : <span>{{lstReceiver[loop.index-1][3]}}</span></p>
                                <p>Address : <span>{{lstReceiver[loop.index-1][4]}}, {{lstReceiver[loop.index-1][5]}}, {{lstReceiver[loop.index-1][6]}}</span></p>
                            </td>
                            <td>
                                {% for product in lstProduct[loop.index - 1] %}
                                    <p>Product {{loop.index}} : {{product[2]}}</p>
                                {% endfor %}
                            </td>
                            <td>{{index[10]}}</td>
                            <td class="total__money__order">{{index[8]}}</td>
                            <td>{{index[9]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination__page">
                    {% if paginationPage > 5%}
                        <button id="btn__first__pagination__page" onclick="firstPagePagination()">Go to page 1</button>
                        <button id='btn__previous__pagination' onclick="previousBtnPagination()">Previous</button>
                        {% for page in range(0, paginationPage) %}
                            {% if CurrentPage == page + 1 %}
                                {% if chooseDate is defined %}
                                    <a href="{{ url_for('.staticRevenueDay', dayValue = chooseDate, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseMonth is defined %}
                                    <a href="{{ url_for('.staticRevenueMonth', monthValue = chooseMonth, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseYear is defined %}
                                    <a href="{{ url_for('.staticRevenueYear', yearValue = chooseYear, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if chooseDate is defined %}
                                    <a href="{{ url_for('.staticRevenueDay', dayValue = chooseDate, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseMonth is defined %}
                                    <a href="{{ url_for('.staticRevenueMonth', monthValue = chooseMonth, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseYear is defined %}
                                    <a href="{{ url_for('.staticRevenueYear', yearValue = chooseYear, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button id="btn__next__pagination" onclick="nextBtnPagination()">Next</button>
                        <button id="btn__end__pagination__page" onclick="lastPagePagination()">Go to page end</button>
                    {% else %}
                        {% for page in range(0, paginationPage) %}
                            {% if CurrentPage == page + 1 %}
                                {% if chooseDate is defined %}
                                    <a href="{{ url_for('.staticRevenueDay', dayValue = chooseDate, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseMonth is defined %}
                                    <a href="{{ url_for('.staticRevenueMonth', monthValue = chooseMonth, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseYear is defined %}
                                    <a href="{{ url_for('.staticRevenueYear', yearValue = chooseYear, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination active__btn__pagination">{{page+1}}</button>
                                    </a>
                                {% endif %}
                            {% else%}
                                {% if chooseDate is defined %}
                                    <a href="{{ url_for('.staticRevenueDay', dayValue = chooseDate, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseMonth is defined %}
                                    <a href="{{ url_for('.staticRevenueMonth', monthValue = chooseMonth, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% elif chooseYear is defined %}
                                    <a href="{{ url_for('.staticRevenueYear', yearValue = chooseYear, CurrentPage = page + 1) }}">
                                        <button id="btn__page__pagination__page{{page+1}}" class="btn__pagination">{{page+1}}</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
