{% extends 'Users/base_users_page.html' %}
{% load static %}

{% block contentUserPage %}
    <div class="static__page__userpage">
        <link rel="stylesheet" href="{% static 'Users/css/static_users.css' %}">
        <div class="show__all__btn__static__user">
            <div class="show__btn__static__inner">
                <form method="post" class="form__btn__static">
                    {% csrf_token %}
                    <input type="submit" name = 'showAllOrder' value='Show All Product' class="btn__static static__show__all__btn"></input>
                    <input type="submit" name = 'showOrderByDate' value="Show order by date" class="btn__static static__by__date"></input>
                    <input type="submit" name = 'summaryOrder' value='Summary order' class="btn__static static__by__status"></input>
                </form>
            </div>
        </div>
        <div class="show__chart__image">
            {% if pieChart %}
                <img id='image__pie__chart' src="data:image/png;base64,{{ pieChart }}" alt="Image chart">
            {% endif %}
        </div>
    </div>
{% block eachStaticDetail %}
{% endblock %}
{% endblock %}  